<div class='comb'>
  <div class='comb_field'>
    <span class='comb__selected'>Россия</span>
    <img src='/svg/arrow-down.svg' alt='arrow' loading='lazy' width='10' height='18'>
  </div>
  <div class='comb__items'></div>
</div>