<div class="comb">
  <div class="comb_field">
    <span class="comb__selected">Россия</span>
    <img src="/src/svg/arrow-down.svg" alt="arrow" loading="lazy" width='10' height='18'>
  </div>
  <div class="comb__items">
    <div class="comb__item">Альметьевск</div>
    <div class="comb__item">Астрахань</div>
    <div class="comb__item">Бугульма</div>
    <div class="comb__item">Буинск</div>
    <div class="comb__item">Екатеринбург</div>
    <div class="comb__item">Казань</div>
    <div class="comb__item">Магнитогорск</div>
    <div class="comb__item">Набережные Челны</div>
    <div class="comb__item">Нижнекамск</div>
    <div class="comb__item">Нижний Тагил</div>
    <div class="comb__item">Оренбург</div>
    <div class="comb__item">Самара</div>
    <div class="comb__item">Саранск</div>
    <div class="comb__item">Стерлитамак</div>
    <div class="comb__item">Тольятти</div>
    <div class="comb__item">Тула</div>
    <div class="comb__item">Ульяновск</div>
    <div class="comb__item">Уфа</div>
  </div>

</div>