<!-- Yandex.Metrika  в файле counter -->

<div class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="%VITE_PROD_URL%/">
        <img class="header__logo-image" src="/src/svg/logo_20.svg" alt="logo" loading="lazy">
      </a>
    </div>
    <nav class="header__nav">
      <a class="header__nav-a" href="%VITE_PROD_URL%/cars/">Купить</a>
      <a class="header__nav-a" href="%VITE_PROD_URL%/services/vykup/">Продать</a>
      <a class="header__nav-a" href="%VITE_PROD_URL%/tyres/">Каталог шин</a>
    </nav>
    <div class="header__select">
{{> 'header/comb'}}
    </div>
    <div class="header__buttons">
        <div class="butt">
            <a class="button_red button__callback"><span>Заказать звонок</span></a>
            <a href="tel:88005001156" class="button_red button__call"></a>
            <a class="button__burger"></a>
        </div>
    </div>
  </div>
  <div class="head_div"></div>
</div>


<div class="main-nav menu">
  <div class="main-nav_bondazh"></div>
  <div class="container">
    <div class="main-nav__wrapper">
      <nav class="main-nav__nav">
        <div class="main-nav__nav-item">
          <a href="%VITE_PROD_URL%/cars/">Купить</a>
        </div>
        <div class="main-nav__nav-item">
          <a href="%VITE_PROD_URL%/services/vykup/">Продать</a>
        </div>
        <div class="main-nav__nav-item">
          <a href="%VITE_PROD_URL%/tyres/">Каталог шин</a>
        </div>
        <div class="main-nav__nav-item">
          <a href="%VITE_PROD_URL%/services/autopodbor/">Автоподбор</a>
        </div>
        <div class="main-nav__nav-item">
          <a href="%VITE_PROD_URL%/promo/">Акции</a>
        </div>
        <div class="main-nav__nav-item">
          <a href="%VITE_PROD_URL%/contacts/">Контакты</a>
        </div>
        <div class="main-nav__nav-item">
          <a href="%VITE_PROD_URL%/franshiza/">Партнерам</a>
        </div>
        <div class="main-nav__nav-item">
          <a href="%VITE_PROD_URL%/about-the-company/">О компании</a>
        </div>
        <div class="main-nav__nav-item">
          <a href="%VITE_PROD_URL%/news/">Новости</a>
        </div>
        <div class="main-nav__nav-item">
          <a href="%VITE_PROD_URL%/work-in-autosite/">Вакансии</a>
        </div>
        <div class="main-nav__nav-item_little">
          <a class="item_little_big" href="services/">Услуги</a>
          <a href="https://xn--80aaagleb8dfwikd4l.xn--p1ai/">Аренда авто</a>
          <a href="%VITE_PROD_URL%/services/crediting/">Автокредитование</a>
          <a href="%VITE_PROD_URL%/services/insurance/">Страхование</a>
          <a href="%VITE_PROD_URL%/services/shinnyy-сentr/">Шинный центр</a>
          <a href="%VITE_PROD_URL%/services/tehnicheskiy-osmotr/">Техосмотр</a>
          <a href="%VITE_PROD_URL%/services/servisnoe-obsluzhivanie/">Сервисное обслуживание</a>
          <a href="%VITE_PROD_URL%/services/remont-dvigatel/">Ремонт двигателя</a>
          <a href="%VITE_PROD_URL%/services/remont-akpp/">Ремонт АКПП</a>
          <a href="%VITE_PROD_URL%/services/zamena-masla/">Замена масла</a>
          <a href="%VITE_PROD_URL%/services/remont-electric/">Ремонт автоэлектрики</a>
        </div>
      </nav>

      <div class="main-nav__contacts">
        <div class="main-nav__contacts-item">
          <a class="main-nav__contacts-link_phone" href="tel:88005001156">
            <div class="button_red button__call main-nav__menu"></div>
            8-800-500-11-56
          </a>
        </div>

        <div class="main-nav__contacts-item">
          <a class="main-nav__contacts-link_email" href="mailto:avtoset@gmail.com">
            <div class="button_red button__mail main-nav__menu"></div>
            avtoset@gmail.com
          </a>
        </div>

        <div class="main-nav__contacts-item" style="padding: 0 30px">
          <span>Подписывайтесь на нас</span>
          <a class="main-nav__contacts-link_vk"
             href="%VITE_PROD_URL%//m.sitehelp.me/vkGroup?siteId=j2ewly664h33pwnloy11em6fx4gj4i6v&amp;clientId=u05rHq9qgow2rrl7Uwx0B55SmnikIKaZ&amp;url=https%3A%2F%2Fvk.com%2Favtoset_rf">
            <a class="button__vk"></a>
          </a>
          <a class="main-nav__contacts-link_youtube" href="//www.youtube.com/channel/UCY--X0FBPWEw_XeDC4zYlOQ">
            <a class="button__youtube"></a>
          </a>
        </div>
      </div>

      <div class="main-nav__info">
        <div class="main-nav__info-block">
          <div class="main-nav__info-text">Все права защищены © 2004-2025 Автосеть.рф</div>
          <div class="main-nav__info-text">
            Сайт разработан <a href="#">MORSEL web studio</a>
          </div>
        </div>

        <div class="main-nav__info-block">
          <div class="main-nav__info-text">ООО "Спектр"</div>
          <div class="main-nav__info-text">ИНН 1657225323</div>
        </div>

        <div class="main-nav__info-block">
          <div class="main-nav__info-text">
            <a href="%VITE_PROD_URL%/privacy-policy/">Политика конфиденциальности</a>
          </div>
          <div class="main-nav__info-text">Сайт является средством массовой информации</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>