.attention {
    position: fixed; /* Задает фиксированное позиционирование */
    bottom: 0; /* Прикрепляет к нижней границе экрана */
    width: 33px; /* Растягивает элемент на всю ширину */
    z-index: 10;
}

@media (min-width: 1020px) {
    .attention {
        bottom: 0;
        background: none;
    }
}

.question {
    background: var(--color-red);
    padding: 12px 10px 20px 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    color: white;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    width: 22px;
    height: 38px;
    justify-content: center;
}

.question.favorite{
    background: black;
    filter: brightness(1.7);
}



@keyframes moveGradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}



.question img, .compare img {
    width: 20px;
    height: 20px;
}

