<div class="main-nav cities">
  <div class="modal-place__indent">
    <div class="modal-place__container--top">
      <div class="page__flex">
        <div class="title">
          Выберите ваш город
        </div>
        <a class="modal-place__close"></a>
      </div>
    </div>
    <div class="modal-place__container--bottom">
      <div class="modal-place__search">
        <form action="" class="form__modal-place">
          <div class="form__modal-place--group">
            <input type="text" placeholder="Название города">
          </div>
        </form>
      </div>
      <div id="innerCity"></div>
    </div>
  </div>

</div>