<div class="fix__foot">
  <div class="fix__flex">
    <div class="fix__foot--box">
      <a href="%VITE_PROD_URL%/cars/">
        <div class="fix__foot_img car"></div>
        <span class="text">
          Каталог
        </span>
      </a>
    </div>
    <div class="fix__foot--box">
      <a href="%VITE_PROD_URL%/personal/favorite-cars/">
        <div class="fix__foot_img zvezda"></div>
        <span class="text">
          Сохраненные
        </span>
      </a>
    </div>
    <div class="fix__foot--box">
      <a href="https://telegram.me/Autoset_RF_bot" target="_blank">
        <div class="fix__foot_img comment"></div>
        <span class="text">
          Telegram
        </span>
      </a>
    </div>
    <div class="fix__foot--box">
      <a href="%VITE_PROD_URL%/contacts/">
        <div class="fix__foot_img adress"></div>
        <span class="text">
          Адреса
        </span>
      </a>
    </div>
  </div>
</div>