<footer class="footer">
  <div class="footer__top">
    <div class="page__wrap">
      <div class="page__flex">
        <div class="box_1">
          <div class="footer-city-button">
<!--            Казань-->
          </div>
          <div class="phone">
<!--            <a href="tel:88005001156">8-800-500-11-56</a>-->
          </div>
          <div id="addr_foot">

          </div>
          <div class="footer__subscription">
            Подписывайтесь на нас
            <div class="social">
              <a href="https://www.youtube.com/channel/UCY--X0FBPWEw_XeDC4zYlOQ" target="_blank">
                <div class="youtube2"></div>
              </a>
              <a href="https://vk.com/avtoset_rf" target="_blank">
                <div class="vk2"></div>
              </a>
            </div>
          </div>
        </div>
        <div class="box_2">
          <a href="/about-the-company/">О компании</a>
          <a href="/franshiza/">Партнерам</a>
          <a href="/landlords/">Арендодателям</a>
          <a href="/work-in-autosite/">Вакансии</a>
          <a href="/contacts/">Контакты</a>
          <a href="/privacy-policy/">Политика конфиденциальности</a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="page__flex">
      <div>
        ©&nbsp;2004-20266nbsp;Автосеть.рф
      </div>
      <div>
        ООО "Спектр"<br>ИНН 1657225323
      </div>
      <div>
        Сайт является средством массовой информации <br>
        <a href="/privacy-policy/">Политика конфиденциальности</a>
      </div>
    </div>
  </div>

  {{> 'footer/fixed-footer'}}
</footer>

{{> 'footer/cities'}}
{{> 'footer/requesrt-form'}}
{{> accept-cookie }}
{{> 'fixed_bottom/question' }}

<div class="map-modal" onclick="openMap(false)">
  <img class="closer" src="/close.webp" alt="закрыть">
  <div class="map" style="width: 90%"> карта от яндекса </div>
</div>

