<footer class="footer">
  <div class="footer__top">
    <div class="page__wrap">
      <div class="page__flex">
        <div class="box_1">
          <div class="footer-city-button">
              <a>Набережные Челны </a>
          </div>
          <div class="phone">
            <a href="tel:88005001156">8-800-500-11-56</a>
          </div>
          <div class="address">
            <div class="address">
              <a href="javascript:void(0);" data-point="55.734962, 52.421602" class="showPoint" id="bx_651765591_29092">
                <span>пр. Хасана Туфана, 3</span>
              </a>
            </div>
            <div class="address">
              <a href="javascript:void(0);" data-point="55.674714, 52.281223" class="showPoint" id="bx_651765591_25288">
                <span>пр. Мусы Джалиля, 15</span>
              </a>
            </div>
          </div>
          <div class="footer__subscription">
            Подписывайтесь на нас
            <div class="social">
              <a href="https://www.youtube.com/channel/UCY--X0FBPWEw_XeDC4zYlOQ" target="_blank">
                <div class="youtube2"></div>
              </a>
              <a href="https://vk.com/avtoset_rf" target="_blank">
                <div class="vk2"></div>
              </a>
            </div>
          </div>
        </div>
        <div class="box_2">
          <a href="%VITE_PROD_URL%/about-the-company/">О компании</a>
          <a href="%VITE_PROD_URL%/franshiza/">Партнерам</a>
          <a href="%VITE_PROD_URL%/landlords/">Арендодателям</a>
          <a href="%VITE_PROD_URL%/work-in-autosite/">Вакансии</a>
          <a href="%VITE_PROD_URL%/contacts/">Контакты</a>
          <a href="%VITE_PROD_URL%/privacy-policy/">Политика конфиденциальности</a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="page__flex">
      <div>
        ©&nbsp;2004-2025&nbsp;Автосеть.рф
      </div>
      <div>
        ООО "Спектр"<br>ИНН 1657225323
      </div>
      <div>
        Сайт является средством массовой информации <br>
        <a href="%VITE_PROD_URL%/privacy-policy/">Политика конфиденциальности</a>
      </div>
    </div>
  </div>

  {{> 'footer/fixed-footer'}}
</footer>

{{> 'footer/cities'}}
{{> accept-cookie }}
{{> 'fixed_bottom/question' }}

