<div class="main-nav request">
    <div id="closer-fon"></div>
    <div class="right">
        <span class="modal-closer form">✖</span>

        <div class="container" style="max-width: 350px; text-align: center">
            {{> 'promo/promo-form'}}
        </div>
    </div>
</div>