<div class="container">
    <div class="main__provided--top">
        <div class="page__flex">
            <h2> Адреса дилерских центров Автосеть.РФ </h2>
            <a href="%VITE_PROD_URL%/contacts/" class="page__link">
                <img src="/src/svg/red_arrow.svg" loading='lazy' alt=''>
                <span>Все адреса</span>
            </a>
        </div>
    </div>

    <div class='dealers'>
        <div class='dealers__block'>
            <div class="dealers__flex">
                <div class="block">
                    <div class="city">
                        Казань
                    </div>
                    <div class="address">
                        <a href="javascript:void(0);" onclick="close_all()">
                            <!--                            55.823581, 49.159553-->
                            <span>пр. Ямашева, 115а</span>
                        </a>
                    </div>
                    <div class="phone"><a href="tel:88005001156">8–800–500–11–56</a></div>
                </div>
                <div class="block">
                    <div class="subname">
                        Режим работы
                    </div>
                    <div class="time">
                        ПН-ВС с 9:00 до 21:00
                    </div>
                </div>
            </div>
            <img src="photo-dealers/kazan1.jpg"  loading='lazy' alt=''>
        </div>
        <div class='dealers__block'>
            <div class="dealers__flex">
                <div class="block">
                    <div class="city">
                        Казань
                    </div>
                    <div class="address">
                        <a href="javascript:void(0);" onclick="close_all()" data-point="55.826655, 49.022026"
                           class="showPoint">
                                    <span>
                                        Горьковское шоссе, 55                                    </span>
                        </a>
                    </div>
                    <div class="phone"><a href="tel:88005001156">8–800–500–11–56</a></div>
                </div>
                <div class="block">
                    <div class="subname">
                        Режим работы
                    </div>
                    <div class="time">
                        ПН-ВС с 9:00 до 21:00
                    </div>
                </div>
            </div>
            <img src="photo-dealers/kazan2.jpg"  loading='lazy' alt=''>
        </div>
        <div class='dealers__block'>
            <div class="dealers__flex">
                <div class="block">
                    <div class="city">
                        Казань
                    </div>
                    <div class="address">
                        <a href="javascript:void(0);" onclick="close_all()" data-point="55.803967, 49.208709"
                           class="showPoint">
                                    <span>
                                        пр. Победы, 212к2                                    </span>
                        </a>
                    </div>
                    <div class="phone"><a href="tel:88005001156">8–800–500–11–56</a></div>
                </div>
                <div class="block">
                    <div class="subname">
                        Режим работы
                    </div>
                    <div class="time">
                        ПН-ВС с 9:00 до 21:00
                    </div>
                </div>
            </div>
            <img src="photo-dealers/kazan3.jpg"  loading='lazy' alt=''>
        </div>
    </div>

    <div id='ya_map'>

        <div class='map'>
            <iframe
                loading='lazy'
                src="https://yandex.ru/map-widget/v1/?um=constructor%3Af07e3201e875be6092e61590f448772cffe85e92ded8b6eefb9df43092e5ff94&amp;source=constructor"
                width="100%" height="700" frameborder="0"></iframe>
            <div class='x' onclick='close_all()'><img src="/src/images/x.png" loading='lazy' alt=''></div>
            <span class="dark-fon" onclick='close_all()' style='width: 100%'></span>
        </div>

    </div>


</div>