<section class="container">
    <div class="filter">

        <div class="filter__wrapper filter-fields">
            <div class="filter__controls">
                <button class="filter__controls-button f_auto active">Автомобили</button>
                <button class="filter__controls-button f_tire">Шины</button>
                <div class="filter__controls-info">
                    <img src="/src/svg/tires.svg" alt=''>
                    <span class="filter__controls-info-button">Где смотреть параметры</span>
                </div>
            </div>

            <div class="filter__controls filter-fields f_auto_buttons">
                <div class="frame-filter__item">
                    <comb data-placeholder='Марка' />
                    <label>Марка</label>
                </div>
                <div class="frame-filter__item">
                    <comb data-placeholder='Модель' />
                    <label>Модель</label>
                </div>

                <div class="frame-filter__item no_advanced">
                    <comb data-placeholder='Город' />
                </div>

                <div style="flex-grow: 1">
                    <div class="big-combo control-flex">
                        <span style="width: 60px">Год от:</span>
                        <input class="big-comb__input" style="width: 40px" value="1997" onclick="this.select()">
                    </div>
                </div>

                <div style="flex-grow: 1">
                    <div class="big-combo control-flex">
                        <span style="width: 60px">Год до:</span>
                        <input class="big-comb__input" style="width: 40px" value="1997" onclick="this.select()">
                    </div>
                </div>

                <div class="frame-filter__item no_advanced">
                    <comb data-placeholder='Цвет'/>
                </div>

                <div class="no_advanced">
                    <div class="big-combo control-flex">
                        <span style="width: 100px">Цена от: </span>
                        <input class="big-comb__input" style="width: 70px" onclick="this.select()">
                    </div>
                </div>

                <div class="no_advanced">
                    <div class="big-combo control-flex">
                        <span style="width: 100px">Цена до: </span>
                        <input class="big-comb__input" style="width: 70px" onclick="this.select()">
                    </div>
                </div>

                <div class="no_advanced">
                    <div class="big-combo control-flex">
                        <span style="width: 100px">Пробег от: </span>
                        <input class="big-comb__input" style="width: 70px" onclick="this.select()">
                    </div>
                </div>

                <div class="no_advanced">
                    <div class="big-combo control-flex">
                        <span style="width: 100px">Пробег до: </span>
                        <input class="big-comb__input" style="width: 70px" onclick="this.select()">
                    </div>
                </div>

                <div class="frame-filter__item no_advanced">
                    <comb data-placeholder='Тип кузова'/>
                </div>

                <div class="frame-filter__item no_advanced">
                    <comb data-placeholder='Тип КПП'/>
                </div>

                <div class="frame-filter__item no_advanced">
                    <comb data-placeholder='Тип двигателя'/>
                </div>

                <div class="frame-filter__item no_advanced">
                    <comb data-placeholder='Тип привода'/>
                </div>

                <div class="frame-filter__item no_advanced">
                    <comb data-placeholder='Руль'/>
                </div>
            </div>

            <div class="filter__controls f_tire_buttons" style="display: none">
                <div class="frame-filter__item">
                    <comb data-placeholder='Производитель'/>
                </div>
                <div class="frame-filter__item">
                    <comb data-placeholder='Ширина профиля'/>
                </div>
                <div class="frame-filter__item">
                    <comb data-placeholder='Высота профиля'/>
                </div>
                <div class="frame-filter__item">
                    <comb data-placeholder='Диаметр'/>
                </div>
                <div class="frame-filter__item no_advanced">
                    <comb data-placeholder='Сезон'/>
                </div>
                &nbsp;
                <div class="frame-filter__item no_advanced">
                    <comb data-placeholder='Диски'/>
                </div>
                <div class="no_advanced">
                    <div class="big-combo control-flex">
                        <span style="width: 100px">Цена до: </span>
                        <input class="big-comb__input" style="width: 70px" onclick="this.select()">
                    </div>
                </div>
                &nbsp;
            </div>
            <div class="frame-filter__controls">
                <button class="frame-filter__controls-advanced">
                    <span class="frame-filter__controls-advanced-icon"></span>
                    <span class="frame-filter__controls-advanced-text">Расширенный фильтр</span>
                </button>

                <a href="#" class="frame-filter__controls-reset">Сбросить</a>

                <button class="frame-filter__submit" type="submit" id="set_filter" name="set_filter" value="Показать"
                        onclick="document.querySelector('#tyres_submit_hidden').click()">
                    Показать&nbsp;<span class="number">1</span>&nbsp;предложений
                </button>
            </div>

        </div>


    </div>
  <div class="tires_sizes">

    <div class="tires-flex">
      <div>
        <h2>Расшифровка маркировки шин</h2>
        <p>Типоразмер указан в маркировке на боковине шины:</p>
        <p><span class="red_strong">Ширина профиля шины</span> — первое число в маркировке, например 195/50 R16 - ширина 195 мм. Ширина профиля представляет собой выраженное в миллиметрах расстояние между наружными сторонами боковин накачанной шины.</p>
        <p><span class="red_strong">Высота профиля</span> — второе число в маркировке шин, например 195/50 R16 - высота 50%. Это отношение высоты шины к ширине, выраженное в процентах (%).</p>
        <p><span class="red_strong">Диаметр колеса</span> — третье число в маркировке шины, например 195/50 R16 - диаметр обода 16'. Должен совпадать с монтажным диаметром колесного диска. Измеряется в дюймах.</p>
      </div>
      <img class="tyres_img" src="/src/images/tyres_size.webp" alt="">
      <div class='x'><img src="/src/images/x.png" loading='lazy' alt=''></div>
    </div>

    <span class='dark-fon'/>
  </div>
  <script type='module'  src="/src/js/filter-controls.js"></script>
</section>