<div class="container">
    <div class="main__provided--top">
        <div class="page__flex">
            <h2> Наши услуги </h2>
            <a href="%VITE_PROD_URL%/services/" class="page__link">
                <img src="/src/svg/red_arrow.svg" loading='lazy' alt=''>
                <span>Все услуги</span>
            </a>
        </div>
    </div>
    <div class="main__provided--block">
        <div class="item">
            <div class="main__provided--item light main__provided--renctable">
                <a href="%VITE_PROD_URL%/services/vykup/">
                    <div class="page__flex">
                        <div class="block">
                            <div class="name">
                                Продать авто
                            </div>
                            <div class="info">
                                Быстро выкупим любой авто на выгодных для Вас условиях!
                            </div>
                        </div>
                        <div class="main__provided--link">
                                    <span class="icon">

                                    </span>
                            <span class="text">
                                        Подробнее
                                    </span>
                        </div>
                    </div>
                    <div class="main__provided--img">
                        <img src="/src/images/car.png" alt="" loading='lazy' class="mw-100 d-block">
                    </div>
                </a>
            </div>
        </div>
        <div class="item">
            <div class="main__provided--item dark main__provided--light">
                <a href="%VITE_PROD_URL%/services/servisnoe-obsluzhivanie/">
                    <div class="page__flex">
                        <div class="block">
                            <div class="name">
                                Сервисный центр
                            </div>
                            <div class="info">
                                Ремонт авто любой сложности
                            </div>
                        </div>
                        <div class="main__provided--link">
                                    <span class="icon">

                                    </span>
                            <span class="text">
                                        Подробнее
                                    </span>
                        </div>
                    </div>
                    <div class="main__provided--img">
                        <img src="/src/images/key.png" alt="" loading='lazy' class="mw-100 d-block">
                    </div>
                </a>
            </div>
        </div>

        <div class="item">
            <div class="main__provided--item light main__provided--renctable">
                <a href="%VITE_PROD_URL%/services/vykup/">
                    <div class="page__flex">
                        <div class="block">
                            <div class="name">
                                Страхование
                            </div>
                            <div class="info">
                                ОСАГО и КАСКО. Без ограничений и очередей!
                            </div>
                        </div>
                        <div class="main__provided--link">
                                    <span class="icon">

                                    </span>
                            <span class="text">
                                        Подробнее
                                    </span>
                        </div>
                    </div>
                    <div class="main__provided--img">
                        <img src="/src/images/service_insurance.png" alt="" loading='lazy' class="mw-100 d-block">
                    </div>
                </a>
            </div>
        </div>

        <div class="item">
            <div class="main__provided--item dark main__provided--light">
                <a href="%VITE_PROD_URL%/services/shinnyy-сentr/">
                    <div class="page__flex">
                        <div class="block">
                            <div class="name">
                                Шинный центр
                            </div>
                            <div class="info">
                                Самый большой магазин автомобильных шин в Казани для легковых автомобилей
                            </div>
                        </div>
                        <div class="main__provided--link">
                                <span class="text">
                                        Подробнее
                                    </span>
                        </div>
                    </div>
                    <div class="main__provided--img">
                        <img src="/src/images/shina.png" loading='lazy' alt="" class="mw-100 d-block">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
