<section class="mainPage swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="%VITE_PROD_URL%/promo/644340/">
                <img class="img_lg" src="photo-main/1/585х200.webp" alt="Сделка через салон">
                <img class="img_md" src="photo-main/1/1200х501.webp" alt="Сделка через салон">
                <img class="img_sm" src="photo-main/1/250x362.webp" alt="Сделка через салон" fetchpriority="high">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="%VITE_PROD_URL%/promo/647168/">
                <img class="img_lg" src="photo-main/2/585х200.webp" alt="Постановка на учёт в ГИБДД" loading="lazy">
                <img class="img_sm" src="photo-main/2/250x362.webp" alt="Постановка на учёт в ГИБДД" loading="lazy">
                <img class="img_md" src="photo-main/2/1200х501.webp" alt="Постановка на учёт в ГИБДД" loading="lazy">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="%VITE_PROD_URL%/promo/647169/">
                <img class="img_lg" src="photo-main/3/585х200.webp" alt="Поставьте авто на комиссию" loading="lazy">
                <img class="img_md" src="photo-main/3/1200х501.webp" alt="Поставьте авто на комиссию" loading="lazy">
                <img class="img_sm" src="photo-main/3/250x362.webp" alt="Поставьте авто на комиссию" loading="lazy">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="%VITE_PROD_URL%/promo/633448/">
                <img class="img_lg" src="photo-main/4/585х200.webp" alt="Премиум авто" loading="lazy">
                <img class="img_md" src="photo-main/4/1200х501.webp" alt="Премиум авто" loading="lazy">
                <img class="img_sm" src="photo-main/4/250x362.webp" alt="Премиум авто" loading="lazy">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="https://xn--80aej9aped4f.xn--p1ai/services/remont-electric/">
                <img class="img_lg" src="photo-main/5/585х200.webp" alt="Ремонт автоэлектрики" loading="lazy">
                <img class="img_md" src="photo-main/5/1200х501.webp" alt="Ремонт автоэлектрики" loading="lazy">
                <img class="img_sm" src="photo-main/5/250x362.webp" alt="Ремонт автоэлектрики" loading="lazy">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="%VITE_PROD_URL%/promo/644223/">
                <img class="img_lg" src="photo-main/6/585х200.webp" alt="Выкуп автомобилей с пробегом" loading="lazy">
                <img class="img_md" src="photo-main/6/1200х501.webp" alt="Выкуп автомобилей с пробегом" loading="lazy">
                <img class="img_sm" src="photo-main/6/250x362.webp" alt="Выкуп автомобилей с пробегом" loading="lazy">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="%VITE_PROD_URL%/promo/644223/">
                <img class="img_lg" src="photo-main/7/585х200.webp" alt="Выкуп автомобилей с пробегом" loading="lazy">
                <img class="img_md" src="photo-main/7/1200х501.webp" alt="Выкуп автомобилей с пробегом" loading="lazy">
                <img class="img_sm" src="photo-main/7/250x362.webp" alt="Выкуп автомобилей с пробегом" loading="lazy">
            </a>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</section>


