<div class="filter-white">
    <div class="filter-white-back filter-fields">
        <div class="frame-filter__item">
            <comb data-placeholder='Марка' />
            <label>Марка</label>
        </div>
        <div class="frame-filter__item">
            <comb data-placeholder='Модель' />
            <label>Модель</label>
        </div>
        <div class="frame-filter__item">
            <comb data-placeholder='Город' />
            <label>Город</label>
        </div>

        <div style="flex-grow: 1">
            <div class="big-combo control-flex">
                <span style="width: 60px">Год от:</span>
                <input class="big-comb__input" style="width: 40px" value="1997" onclick="this.select()">
            </div>
        </div>

        <div class="no_advanced">
            <div class="big-combo control-flex">
                <span style="width: 60px">Год до:</span>
                <input class="big-comb__input" style="width: 40px" value="2025" onclick="this.select()">
            </div>
        </div>

        <div class="frame-filter__item no_advanced">
            <comb data-placeholder='Цвет'/>
        </div>

        <div>
            <div class="big-combo control-flex">
                <span style="width: 80px">Цена от: </span>
                <input class="big-comb__input" style="width: 70px" value="6882400" onclick="this.select()">
            </div>
        </div>

        <div class="no_advanced">
            <div class="big-combo control-flex">
                <span style="width: 80px">Цена до: </span>
                <input class="big-comb__input" style="width: 70px" value="6882400" onclick="this.select()">
            </div>
        </div>

        <div class="no_advanced">
            <div class="big-combo control-flex">
                <span style="width: 85px">Пробег до: </span>
                <input class="big-comb__input" style="width: 70px" onclick="this.select()">
            </div>
        </div>

        <div class="frame-filter__item no_advanced">
            <comb data-placeholder='Тип кузова'/>
        </div>



        <div class="frame-filter__item no_advanced">
            <comb data-placeholder='Тип КПП'/>
        </div>

        <div class="frame-filter__item no_advanced">
            <comb data-placeholder='Тип двигателя'/>
        </div>

        <div class="no_advanced">
            <div class="big-combo control-flex">
                <span style="width: 160px">Объем двигателя до: </span>
                <input class="big-comb__input" style="width: 60px" value="" onclick="this.select()">
            </div>
        </div>

        <div class="no_advanced">
            <div class="big-combo control-flex">
                <span style="width: 187px">Мощность двигателя до: </span>
                <input class="big-comb__input" style="width: 60px" value="" onclick="this.select()">
            </div>
        </div>

        <div class="frame-filter__item no_advanced">
            <comb data-placeholder='Тип привода'/>
        </div>

        <div class="frame-filter__item no_advanced">
            <comb data-placeholder='Руль'/>
        </div>
    </div>

    <div class="frame-filter__controls">
        <button class="frame-filter__controls-advanced">
            <span class="frame-filter__controls-advanced-icon"></span>
            <span class="frame-filter__controls-advanced-text">Расширенный фильтр</span>
        </button>

        <a href="javascript:void(0);" class="frame-filter__controls-reset">Сбросить</a>

        <button class="frame-filter__submit" type="submit" id="set_filter" name="set_filter" value="Показать">
            Показать&nbsp;<span class="number">12</span>&nbsp;предложений
        </button>
    </div>
</div>