<div class='fourBlocks'>
    <div style='background-image: url(/photo/insurance/credit_01.webp)'>
        <div class='num'>
            <div>
                <span><strong>от</strong> 6,9%</span>
                <div>
                    Минимальная ставка
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class='num'>
            <div>
                <span><strong>Более</strong> 15 </span>
                <div>банков партнеров</div>
            </div>
        </div>
    </div>
    <div style='background-image: url(/photo/insurance/credit_banner.webp)'>
        <div class='num'>
            <div>
                <span><strong>от</strong> 1 <strong>года до</strong> 8 <strong>лет</strong></span>
                <div>Срок кредита</div>
            </div>
        </div>
    </div>
    <div style='background-image: url(/photo/insurance/vykup_03.webp)'>
        <div class='num'>
            <span><strong>от</strong> 0%</span>
            <div>Первоначальный взнос</div>
        </div>
    </div>
</div>