<div class='fourBlocks'>
    <div style='background-image: url(/photo/franshiza/Rectangle-328-1.webp)'>
        <div class='nums'>
            <div><div>11</div><div>Cобственных<br>автосалонов</div></div>
            <div><div>13</div><div>Партнёрских салонов<br>в России</div></div>
        </div>
    </div>
    <div>
        <div class='num'>
            <div><span><strong>до</strong> 20%</span>маржинальность</div>
        </div>
    </div>
    <div style='background-image: url(/photo/franshiza/Rectangle-329.webp)'>
        <div class='nums'>
            <div><div>7</div><div>Месяцев<br>окупаемость бизнеса</div></div>
            <div><div>2</div><div>Месяца срок запуска бизнеса<br>автомобилей с пробегом</div></div>
        </div>
    </div>
    <div style='background-image: url(/photo/franshiza/Rectangle-328.webp)'>
        <div class='num'>
            <span style='font-size: 1.5em;'>
                Ни одного
            </span>
            Закрытого автосалона<br>по финансовой несостоятельности
        </div>
    </div>
</div>