<div class="fourBlocks">
    <div style="background-image: url(/photo/inshurance/insurance_01.webp)">
        <div class="num">
            <div>
                <span><strong>более</strong> 10</span>
                <div>
                    Страховых компаний
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="num">
            <div>
                <strong>Специальные тарифы</strong>для постоянных клиентов
            </div>
        </div>
    </div>
    <div style="background-image: url(/photo/inshurance/insurance_02.webp)">
        <div class="num">
            <div>
                ОСАГО
                <div>Физическим и юридическим лицам</div>
            </div>
        </div>
    </div>
    <div style="background-image: url(/photo/inshurance/insurance_03.webp)">
        <div class="num">
            <span>20 <strong>мин</strong></span>Оформление
        </div>
    </div>
</div>