<div class="fourBlocks">
    <div style="background-image: url(/photo/masla/oil_01.webp)">
<!--        <div class="num">-->
<!--            <div>-->
<!--                <strong>Бесплатная</strong>-->
<!--                <div>-->
<!--                    Диагностика автоматической коробки передач (АКПП)-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div>
        <div class="num">
            <div>
                <strong>Квалифицированные</strong> специалисты
            </div>
        </div>
    </div>
    <div style="background-image: url(/photo/masla/oil_02.webp)">
        <div class="num">
            <div>
                <strong>Низкие цены</strong>
                <div>
                    на расходные материалы
                </div>
            </div>
        </div>
    </div>
    <div style="background-image: url(/photo/masla/oil_03.webp)">
        <div class="num">
            <strong>Запись</strong> на удобное время
        </div>
    </div>
</div>