            <div class="fourBlocks">
    <div style="background-image: url(/photo/obslug/brn_to_01.webp)">
        <div class="num">
            <div>
                <span><strong>от</strong> 1 <strong>до</strong> 3 <strong>дней</strong></span>
                <div>
                    Ремонт любой сложности
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="num">
            <div>
                <strong>Автосеть.рф</strong> — качественные решения для авто
            </div>
        </div>
    </div>
    <div style="background-image: url(/photo/obslug/osmotr_03.webp)">
        <div class="num">
            <div>
                <span><strong>до</strong> 1 <strong>года</strong></span>
                <div>
                    Гарантия на наш ремонт
                </div>
            </div>
        </div>
    </div>
    <div style="background-image: url(/photo/brn_to_03.webp)">
        <div class="num">
            <strong>Без переплат </strong> Фиксированная цена, без повышений сметы
        </div>
    </div>
</div>