<div class="fourBlocks">
    <div style="background-image: url(/photo/osmotr_01.webp)">
        <div class="num">
            <div>
                <strong>Автомойка</strong>
                <div>
                    Наличие автомойки
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="num">
            <div>
                <span><strong>Сервисная зона</strong> </span>
            </div>
        </div>
    </div>
    <div style="background-image: url(/photo/osmotr_03.webp)">
        <div class="num">
            <div>
                <strong>Персонал</strong>
                <div>
                    Квалифицированный персонал
                </div>
            </div>
        </div>
    </div>
    <div style="background-image: url(/photo/osmotr_04.webp)">
        <div class="num">
            <strong>Удобное время </strong> Возможность предварительной записи
        </div>
    </div>
</div>