<div class="fourBlocks podbor">
    <div style="background-image: url(/photo/podbor/podbor_01.webp)">
        <div class="num">
            <div>
                <strong>Тех. гарантия</strong>
                <div>
                    на подобранный автомобиль сроком <b>1 месяц</b>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <span style="font-size: 1.3em; color: #fff; font-weight: bold;">
                Мы сами анализируем рынок,
            выбираем лучшие варианты,
            сами проверяем автомобили.
            С Вами вместе производим сделку </span>

        </div>
    </div>
    <div style="background-image: url(/photo/podbor/podbor_02.webp)">
        <div class="num">
            <div>
                <strong>Специалисты с многолетним стажем</strong>
                <div>
                    работы в подборе автомобилей
                </div>
            </div>
        </div>
    </div>
    <div style="background-image: url(/photo/podbor/podbor_03.webp)">
        <div class="num">
            <strong>Гарантия</strong>
            <div>
                юридической чистоты
            </div>
        </div>
        <img src="/src/svg/vykup_03.jpg" alt="">
    </div>
</div>