<div class='fourBlocks'>
    <div style='background-image: url(/photo/remont/dvs_01.webp)'>
        <div class='num'>
            <div>
                <strong>Бесплатная</strong>
                <div>
                    Дефектовка ДВС (выявление причины неисправности)
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class='num'>
            <div>
                <strong>Квалифицированные</strong> специалисты
            </div>
        </div>
    </div>
    <div style='background-image: url(/photo/remont/dvs_02.webp)'>
        <div class='num'>
            <div>
                6 месяцев
                <div>
                    Гарантия на работу
                </div>
            </div>
        </div>
    </div>
    <div style='background-image: url(/photo/remont/dvs_03.webp)'>
        <div class='num'>
            <strong>Фикс. смета</strong> Без переплат и&nbsp;превышений сметы
        </div>
    </div>
</div>