<div class='fourBlocks'>
    <div style='background-image: url(/photo/shinny/shiny_01.webp)'>
        <div class='num'>
            <div>
                <span><strong>более</strong> 2000</span>
                <div>
                    Комплектов в наличии
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class='num'>
            <div>
                <span>Цена</span>
                <div>от 5 000 ₽ за комплект</div>
            </div>
        </div>
    </div>
    <div style='background-image: url(/photo/shinny/shiny_02.webp)'>
        <div class='num'>
            <div>
                <span><strong>- 20%</strong></span>
                <div>
                    Шиномонтаж при покупке комплекта шин
                </div>
            </div>
        </div>
    </div>
    <div style='background-image: url(/photo/shinny/shiny_04.webp)'>
        <div class='num'>
            <div>Установка сигнализации</div>
        </div>
    </div>
</div>