<div id="cookie-banner">
    <p>
        Мы используем файлы cookie и Яндекс.Метрику, чтобы сделать сайт удобнее.
        Подробнее читайте в нашей
        <a href="%VITE_PROD_URL%/privacy-policy/" target="_blank">Политике конфиденциальности</a>.
    </p>
    <button id="cookie-accept">Прекрасно</button>
</div>