<div id="cookie-banner">
  <p>
    Мы используем Cookies, в том числе с использованием сервиса веб-аналитики "Яндекс.Метрика". Продолжая использовать
    наш сайт, вы даете согласие обработку данных Cookies, в том числе с использованием сервиса веб-аналитики
    "Яндекс.Метрика" в соответствии с
    <a href="/privacy-policy/" target="_blank">Политикой конфиденциальности</a>.
  </p>
  <button id="cookie-accept">Прекрасно</button>
</div>