<main>
    <div class="juicy">
        <div class="bossBlock">
            <div class="boss">
                <div class="socLinks"
                     style="background-image: url(/photo/franshiza/ruslan_02.webp);"
                >
                    <a href="https://www.youtube.com/channel/UCY--X0FBPWEw_XeDC4zYlOQ"
                       class="yt" target="_blank">YouTube</a>
                </div>
            </div>
            <div class="desc">
                <h2>Опыт открытия 13 партнёрских салонов<br>в России</h2>
                <div class="nums">
                    <div><strong>20 лет</strong>Опыт работы в&nbsp;автобизнесе</div>
                    <div><strong>7,1 млрд</strong>Оборот в&nbsp;2022&nbsp;году</div>
                    <div><strong>ТОП-5</strong>Брендов по&nbsp;продаже автомобилей с&nbsp;пробегом</div>
                </div>
                <p>Партнёрство с АВТОСЕТЬ.РФ - это готовый бизнес по продаже автомобилей с пробегом, гарнтировано приносящий стабильный доход!</p>
                <p>Инновационная ERP-система, профессиональные технологии продаж, постоянная поддержка и содейсвие в развитии - это получит каждый партнер»</p>
                <p class="name"><strong>Руслан Абдулнасыров</strong>Генеральный директор АВТОСЕТЬ.РФ</p>
                <button onclick="sendBid('boss Задать вопрос')"
                        class="nextFormLoad page__btn page__btn--current">
                    Задать вопрос
                </button>
            </div>
        </div>
    </div>
</main>