<div class='container'>
    <h2 >
      <span id="vitrina_name" style='font-size: 2rem; font-weight: 200'></span>
        <span class='type_views'>
                <div class='dot8'>
                    <img src='/svg/dot8.svg' alt="">
                </div>
                <div class='dot4'>
                    <img src='/svg/dot4.svg' alt="">
                </div>
                <div class='dot1'>
                    <img src='/svg/dot1.svg' alt="">
                </div>
            </span>

        <span class='type_views coin'>
            цена
            <img src="/src/svg/arrow-down.svg" alt="arrow" loading="lazy" width='10' height='18'>
        </span>
    </h2>

    <cards class='cards dot8' data-col='dot8'></cards>
</div>