<div class='container'>
    <div class="car_vitrina">
        <h2 id="vitrina_name"></h2>

        <a href="/cars/" class="page__link cars_link" style="display: none">
            <img src="/src/svg/red_arrow.svg" loading='lazy' alt=''>
            <span>Все предложения</span>
        </a>
    </div>

    <cards class='cards dot4' data-col='dot4'></cards>

  <div id="preload_getList" style="text-align: center; margin-top: -100px">
    <img src="/icons/load.gif" alt="" style="width: 73px">
  </div>
</div>