<nav >
   &nbsp;&nbsp;&nbsp;::::: <a href="index.html"> На главную</a>
    | <a href="about.html">О нас</a>
    | <a href="contacts.html">Контакты</a>
  | <a href="papka/index.html">Подпапка</a>
</nav>