<link rel='stylesheet' href='/src/css/dealers.css'/>
<script type='module' src='/src/js/dealers.js'></script>

<div class="dealers_pics">
    <div class="dealer-carousel">
        <div class="dealers_head">
            <h2><strong>23 дилерских</strong> центра</h2>
            <div class="carousel-controls">
                <button class="carousel-btn" id="prevBtn"> &lt; </button>
                <button class="carousel-btn" id="nextBtn"> > </button>
            </div>
        </div>

        <div class="carousel-wrapper">
            <div class="carousel" id="carousel"></div>
        </div>
    </div>
</div>

