<div class="formBlock">
    <div class="wrap">
        <div class="title" style="text-align: left;">
            Оставьте заявку на <strong>подбор</strong> автомобиля
        </div>
        <form action="/" name="popup_form" class="form__modal"
              enctype="multipart/form-data" method="POST">
            <div class="block S  form__modal--group">
                <div class="form__group form__group--label">
                    <input type="text" rel="NAME" class="input js-used"
                           size="25" value="">
                    <label>Имя <sup class="starrequired">*</sup></label>
                </div>
            </div>


            <div class="block S  form__modal--group">
                <div class="form__group form__group--label">
                    <input type="text" rel="PHONE" class="input js-used mobile_pole"
                           size="25" value=""> <label>Телефон <sup
                        class="starrequired">*</sup></label>
                </div>
            </div>

            <div class="block S  form__modal--group">
                <div class="form__group form__group--label">
                    <input type="text" rel="PHONE" class="input js-used mobile_pole"
                           size="25" value=""> <label>E-mail</label>
                </div>
            </div>





            <div class="form__modal--group">
              <div class="capctha-div"></div>
            </div>
            <div class="form__modal--button">
                <button class="page__btn page__btn--current f-9" type="submit">
                                    <span>
                                        Отправить заявку                                </span>
                </button>
            </div>
            <div class="modal__personal">
                <input type="checkbox">
                <label>
                    Нажав кнопку «Отправить заявку» я даю согласие
                    на обработку
                    <a href="/privacy-policy/" target="_blank">персональных данных</a>
                </label>
            </div>

        </form>
    </div>
</div>