<div class="formBlock">
    <div class="wrap">
        <form action="/bitrix/components/befa/popup.form/.ajax.php" name="popup_form" id="popup_form_75655"
              class="form__modal" enctype="multipart/form-data" method="POST">
            <!--            <input type="hidden" name="iblock_id" value="5">-->
            <!--            <input type="hidden" name="success_msg" value="Сообщение успешно отправлено">-->
            <!--            <input type="hidden" name="req" value="12,NAME">-->
            <!--            <input type="hidden" name="validate_email" value="0">-->
            <!--            <input type="hidden" name="send_email" value="">-->
            <!--            <input type="hidden" name="copy_email" value="">-->
            <!--            <input type="hidden" name="email_event_type" value="POPUP">-->
            <!--            <input type="hidden" name="email_event_template_admin" value="50">-->
            <!--            <input type="hidden" name="status_new" value="N">-->
            <!--            <input type="hidden" name="FORM_URL" value="/franshiza/">-->
            <!--            <input type="hidden" name="SUBJECT" value="Получить расчет (франшиза)">-->


            <div class="title">
                <strong style="color: #e5393b">
                    Получите расчет</strong> прибыли автосалона АВТОСЕТЬ.РФ в своем городе
            </div>

            <div class="form_error"></div>


            <div class=" form__modal--group">
                <div class="form__group ">
                    <input size="25">
                    <label id="text_NAME">Имя
                        <sup class="starrequired">*</sup>
                    </label>
                </div>
            </div>


            <div class="form__modal--group">
                <div class="form__group">
                    <input size="25">
                    <label id="text_12">Ваш телефон
                        <sup class="starrequired">*</sup>
                    </label>
                </div>
            </div>


            <div class="block S  form__modal--group">
                <div class="form__group">
                    <input size="25">
                    <label>Город</label>
                </div>
            </div>


            <div class="block S  form__modal--group">
                      <div class="capctha-div"></div>
            </div>
            <div>
                <button class="page__btn page__btn--current" type="submit">
                    Перезвоните мне
                </button>
            </div>
            <div class="modal__personal">
                <input type="checkbox">
                <label>
                    Нажав кнопку «Отправить» я даю согласие
                    на обработку
                    <a href="/privacy-policy/" target="_blank">персональных данных</a>
                </label>
            </div>
<!--            <div class="modal__error">Вы должны дать согласие на обработку персональных данных</div>-->

<!--            <div class="success">-->
<!--                Сообщение успешно отправлено-->
<!--            </div>-->
<!--            <div class="form_loading">-->
<!--                <span>Идет отправка сообщения...</span>-->
<!--            </div>-->

        </form>

        <div class="formBottom">
            <p>или позвоните по номеру</p>
            <a href="tel:88005001156">8-800-500-11-56</a>
        </div>
    </div>
</div>