<div class="formBlock">
    <div class="wrap">
        <div class="franshizaCity">
            <div class="headTxt">
                <img src="/src/svg/icon_house.svg" alt=""> Город с населением более 1&nbsp;000&nbsp;000 человек
            </div>
            <p>Первый год работы:</p>
            <div class="nums">
                <div><strong><b>3,9&nbsp;млн</b> ₽/мес</strong> средняя ежемесячная чистая прибыль</div>
                <div><strong>2 мес</strong> окупаемость</div>
            </div>
            <hr>
            <div class="headTxt">
                <img src="/src/svg/icon_skyline.svg" alt=""> Город с населением менее 1&nbsp;000&nbsp;000 человек
            </div>
            <p>Первый год работы:</p>
            <div class="nums">
                <div><strong><b>2,9&nbsp;млн</b> ₽/мес</strong> средняя ежемесячная чистая прибыль</div>
                <div><strong>5 мес</strong> окупаемость</div>
            </div>
            <button class="nextFormLoad page__btn page__btn--current count_business_plan">
                Рассчитать бизнес-план
            </button>
        </div>
    </div>
</div>