<div class="formBlock">
    <div class="wrap">
        <form action="/bitrix/components/befa/popup.form/.ajax.php" name="popup_form" id="popup_form_75655"
              class="form__modal" enctype="multipart/form-data" method="POST">
            <!--            <input type="hidden" name="iblock_id" value="5">-->
            <!--            <input type="hidden" name="success_msg" value="Сообщение успешно отправлено">-->
            <!--            <input type="hidden" name="req" value="12,NAME">-->
            <!--            <input type="hidden" name="validate_email" value="0">-->
            <!--            <input type="hidden" name="send_email" value="">-->
            <!--            <input type="hidden" name="copy_email" value="">-->
            <!--            <input type="hidden" name="email_event_type" value="POPUP">-->
            <!--            <input type="hidden" name="email_event_template_admin" value="50">-->
            <!--            <input type="hidden" name="status_new" value="N">-->
            <!--            <input type="hidden" name="FORM_URL" value="/franshiza/">-->
            <!--            <input type="hidden" name="SUBJECT" value="Получить расчет (франшиза)">-->


            <div class="title">
                <strong style="color: #e5393b">
                    Получите расчет</strong> прибыли автосалона АВТОСЕТЬ.РФ в своем городе
            </div>

            <div class="form_error"></div>


            <div class=" form__modal--group">
                <div class="form__group ">
                    <input size="25">
                    <label id="text_NAME">Имя
                        <sup class="starrequired">*</sup>
                    </label>
                </div>
            </div>


            <div class="form__modal--group">
                <div class="form__group">
                    <input size="25">
                    <label id="text_12">Ваш телефон
                        <sup class="starrequired">*</sup>
                    </label>
                </div>
            </div>


            <div class="block S  form__modal--group">
                <div class="form__group">
                    <input size="25">
                    <label>Город</label>
                </div>
            </div>


            <div class="block S  form__modal--group" style="text-align: -webkit-right;">
                <div>
                    <div style="width: 304px; height: 78px;">
                        <div>
                            <iframe title="reCAPTCHA" width="304" height="78" role="presentation" name="a-qpdvdqlsh0e6"
                                    frameborder="0" scrolling="no"
                                    sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
                                    src="https://www.google.com/recaptcha/api2/anchor?ar=2&amp;k=6LfVEHsoAAAAAMPu1zqgnZkNQoSGMtYffz36y7xc&amp;co=aHR0cHM6Ly94bi0tODBhZWo5YXBlZDRmLnhuLS1wMWFpOjQ0Mw..&amp;hl=ru&amp;v=TkacYOdEJbdB_JjX802TMer9&amp;size=normal&amp;anchor-ms=20000&amp;execute-ms=15000&amp;cb=satw1ggdcpde"></iframe>
                        </div>
                        <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response"
                                  style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none; --darkreader-inline-border-top: var(--darkreader-border-c1c1c1, #42474a); --darkreader-inline-border-right: var(--darkreader-border-c1c1c1, #42474a); --darkreader-inline-border-bottom: var(--darkreader-border-c1c1c1, #42474a); --darkreader-inline-border-left: var(--darkreader-border-c1c1c1, #42474a);"
                                  data-darkreader-inline-border-top="" data-darkreader-inline-border-right=""
                                  data-darkreader-inline-border-bottom=""
                                  data-darkreader-inline-border-left=""></textarea></div>
                </div>

            </div>
            <div>
                <button class="page__btn page__btn--current" type="submit">
                    Перезвоните мне
                </button>
            </div>
            <div class="modal__personal">
                <input type="checkbox">
                <label>
                    Нажав кнопку «Отправить» я даю согласие
                    на обработку
                    <a href="/privacy-policy/" target="_blank">персональных данных</a>
                </label>
            </div>
<!--            <div class="modal__error">Вы должны дать согласие на обработку персональных данных</div>-->

<!--            <div class="success">-->
<!--                Сообщение успешно отправлено-->
<!--            </div>-->
<!--            <div class="form_loading">-->
<!--                <span>Идет отправка сообщения...</span>-->
<!--            </div>-->

        </form>

        <div class="formBottom">
            <p>или позвоните по номеру</p>
            <a href="tel:88005001156">8-800-500-11-56</a>
        </div>
    </div>
</div>