<div class='geography'>
    <img src='/geo_big.webp' id='mainPhoto' class="mainPhoto_big" alt='география присутствия'
         loading='lazy'>
    <img src='/geo_small.webp' class='mainPhoto_little' alt='география присутствия' loading='lazy'>
</div>