<div class='geography'>
    <img src='/src/images/bnr_geo_desc.webp' id='mainPhoto' class="mainPhoto_big" alt='география присутствия'
         loading='lazy'>
    <img src='/src/images/bnr_geo_mobile.webp' class='mainPhoto_little' alt='география присутствия' loading='lazy'
         width='483' height='534'>
</div>