<main>
    <div class="juicy">

        <h2><span>Кто</span> может стать<br>партнером АВТОСЕТЬ.РФ</h2>
        <div class="iconSetList style_b">
            <div>
                <img src="/src/svg/icon_cargurad.svg" alt="">
                <p><em>Действующий дилер</em><br>любой автомобильной марки в СНГ</p>
            </div>
            <div>
                <img src="/src/svg/icon_graph.svg" alt="">
                <p>Кому нужно <em>повысить эффективность</em><br>собственного бизнеса автомобилей с пробегом </p>
            </div>
        </div>

        <div class="franshizaLastBlock">


            <div class="cntnt">
                <h2><span>Партнерство</span> с АВТОСЕТЬ.РФ. <br>Бизнес автомобилей с пробегом под ключ:</h2>

                <ul class="listCheck">
                    <li>Создание бизнеса авто с пробегом с нуля</li>
                    <li>Готовые решения</li>
                    <li>Единственные кто дает практику в обучении</li>
                    <li>Живые люди дают ценообразование</li>
                    <li>Увеличение доли кредитных сделок до 40% на автомобили с пробегом</li>
                    <li>Готовый бизнес процесс бизнеса автомобилей с пробегом</li>
                    <li>Операционный директор на удаленке в помощь собственнику</li>
                    <li>Привлечение клиентов, увеличение трафика</li>
                    <li>Ведение операционной деятельности предприятия на результат</li>
                    <li>Обмен опытом- бенчмаркетинг</li>
                    <li>IT – платформа под бизнес с пробегом</li>
                    <li>Обучение - практикум для всего продуктивного персонала</li>
                    <li>Создание эко-системы для дилеров</li>
                </ul>
                <div class="logoBlock">
                    <div>
                        <div class="img"><img src="/src/svg/logo_autoset.svg" alt=""></div>
                        Зарегистрированный товарный знак
                    </div>
                    <div>
                        <div class="img"><img src="/photo/franshiza/logo_lada.webp" alt=""></div>
                        Рекомендации АВТОВАЗа
                    </div>
                    <div>
                        <div class="img"><img src="/photo/franshiza/logo_autostat.webp" alt=""></div>
                        Сертификат от&nbsp;АВТОСТАТа
                    </div>
                </div>
                <button onclick="sendBid('Создание эко-системы для дилеров')"
                        class="nextFormLoad page__btn page__btn--current"
                   data-modal="form_franshiza_modal">Оставить заявку</button>
            </div>


            <div class="imgNumsBlock">
                <div class="img">
                    <img src="/photo/franshiza/media_01.webp" alt="">
                </div>
                <div class="nums">
                    <div><strong>20 лет</strong>Опыт работы</div>
                    <div><strong>11 600</strong>Автомобилей продано<br>за 2022 год</div>
                    <div><strong>ТОП-5</strong>Дилеров по продаже автомобилей с пробегом в&nbsp;России по версии
                        АвтоБизнесРевю
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>