.list_brands {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 30px 0 100px;
}

.list_brands .d-block{
    width: 37px;
    height: 25px;
}

@media (max-width: 1100px) {
    .list_brands {
        grid-template-rows: repeat(5, 1fr);
    }
}

@media (max-width: 850px) {
    .list_brands {
        grid-template-rows: repeat(7, 1fr);
    }
}

@media (max-width: 700px) {
    .list_brands {
        grid-template-rows: repeat(10, 1fr);
    }
}

@media (max-width: 600px) {
    .main__top--block {
        display: none;
    }
}


.list_brands a .icon img {
    max-width: 37px !important;
    filter: grayscale(1);
    position: relative;
    z-index: -1;
}

.list_brands a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: color 0.3s;
}

.list_brands a:hover {
    color: var(--color-red);
}

.list_brands a:hover .icon img {
    filter: grayscale(0);
}


.list_brands a .text {
    font-weight: 600;
    margin-right: 5px;
}

.list_brands a .total {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
}