.main__provided--top{
    margin-bottom: 30px;
}
.main__provided--top .page__flex {
    justify-content: space-between;
    align-items: center;
}

/***********/

.main__provided--block {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
}

.main__provided--block .item {
    flex: 0 0 23%;
    max-width: 23%;
    background: var(--color-grey);
    border-radius: 10px;
    position: relative;
}

@media (max-width: 1280px) {
    .main__provided--block .item {
        flex: inherit;
        max-width: 100%;
    }
}

@media (max-width: 880px) {
    .main__provided--block{
        flex-wrap: wrap;
    }
    .main__provided--block .item {
        flex: inherit;
        max-width: 100%;
        flex-grow: 1;
    }
}

.main__provided--img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 45vw;
    transition: all 0.4s;
    width: 192px;
    height: 174px;
}

.main__provided--item {
    min-height: 190px;
    position: relative;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
}

 .main__provided--item::after {
     content: "";
     display: block;
     position: absolute;
     width: 230px;
     height: 230px;
     top: 10%;
     right: -43%;
     z-index: -1;
     transform: translateX(0) translateY(0) rotate(36.03deg);
     border-radius: 10px;
 }

.main__provided--item a{
    color: black;
}

.main__provided--renctable {
    background-color: #E22427;
}

.main__provided--renctable::after {
    background-color: #CF1E21;
}

.main__provided--light {
    background-color: var(--color-grey);
}

.main__provided--light::after {
    background-color: #E6E6EA;
}

.main__provided--link {
    font-weight: 500;
    font-size: 0.875em;
    z-index: 1;
}

.main__provided--link span {
    display: inline-block;
    vertical-align: middle;
}

.main__provided--link span.text {
    opacity: 0;
    transition: all 0.4s;
}

.main__provided--block .item:hover .main__provided--link span.text{
    opacity: 1;
}


.main__provided--link span.icon {
    margin-right: 5px;
}


.main__provided--img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 45vw;
}

.main__provided--img img{
    height: 170px;
    transition: all 0.4s;
}

.main__provided--block .item:hover .main__provided--img img{
    height: 180px
}

.main__provided--item {
    min-height: 190px !important;
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
    z-index: 1;
}

.main__provided--item::after {
    border-radius: 10px;
    content: "";
    display: block;
    position: absolute;
    width: 230px;
    height: 230px;
    top: 10%;
    right: -43%;
    z-index: -1;
    transform: translateX(0) translateY(0) rotate(36.03deg);
}

.main__provided--item.light .name {
    color: #fff;
}

.main__provided--item.light .info {
    color: rgba(255, 255, 255, 0.8);
}

.main__provided--item.light .main__provided--link {
    color: rgba(255, 255, 255, 0.8);
}

.main__provided--item.light .main__provided--link .icon svg {
    fill: rgba(255, 255, 255, 0.8);
}

.main__provided--item.dark-fon .name {
    color: #000;
}

.main__provided--item.dark-fon .info {
    color: rgba(0, 0, 0, 0.8);
}

.main__provided--item.dark-fon .main__provided--link {
    color: rgba(0, 0, 0, 0.8);
}

.main__provided--item.dark-fon .main__provided--link .icon svg {
    fill: rgba(0, 0, 0, 0.8);
}

.main__provided--item .block {
    z-index: 1;
    margin-bottom: 0.9375em;
}

.main__provided--item .name {
    font-weight: 500;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 7px;
}

.main__provided--item .info {
    font-weight: 500;
    font-size: 0.875em;
    max-width: 203px;
}

.main__provided--item a {
    outline: none;
    border: none;
    text-decoration: none;
    display: block;
    height: 81%;
    position: relative;
    padding: 1.875em 1.5em;
}

.main__provided--item a .page__flex {
    height: 81%;
    flex-direction: column;
    justify-content: space-between;
}

.main__provided--desc {
    padding-top: 0.875em;
}

@media (min-width: 576px) {
    .main__provided--item {
        min-height: 287px !important;
    }
}