<div class="attention">
    <div class="question" onclick="openChat(event, 'root')">
        <img src="/src/svg/question.svg">
        Задать вопрос

        <div class="question_info">
            <div onclick="openChat(event)">
                <img src="/src/svg/online-chat.svg">
                Онлайн чат
            </div>
            <div  onclick="openChat(event, 'no')">
                <a href="https://m.sitehelp.me/whatsappOfficial?siteId=j2ewly664h33pwnloy11em6fx4gj4i6v&amp;clientId=ivsiyKQIp5v8MD7CObZAmPkxcTuqmbDK&amp;url=https%3A%2F%2Fwa.me%2F79625799269"
                   target="_blank">
                    <img src="/src/svg/whatsapp.svg">
                    WhatsApp
                </a>
            </div>
            <div  onclick="openChat(event, 'no')">
                <a href="https://telegram.me/Autoset_RF_bot"
                   target="_blank">
                    <img src="/src/svg/telegram-icon.svg">
                    Telegram
                </a>
            </div>
        </div>
    </div>
    <div class="question compare" title="Сравнить автомобили">
        <img src="/src/svg/car-icon_b.svg">
        4
    </div>

    <div class="question_block" >
        <div class="question_panel">
            <h2>Задайте свой вопрос нашему оператору</h2>
            <div class="history">

                <p><b> - Вы:</b> Здравствуйте! Хочу купить у вас автомобиль</p>
                <p><b> - Оператор:</b> Здравствуйте! Будем рады. Какой автомобиль вас интересует?</p>
                <p><b> - Вы:</b> Мерседец </p>
                <p><b> - Оператор:</b> У нас есть 5 вариантов. Сообщите ваш телефон, мы перезвоним</p>
                <p><b> - Вы:</b> Здравствуйте! Хочу купить у вас автомобиль</p>
                <p><b> - Оператор:</b> Здравствуйте! Будем рады. Какой автомобиль вас интересует?</p>
                <p><b> - Вы:</b> Мерседец </p>
                <p><b> - Оператор:</b> У нас есть 5 вариантов. Сообщите ваш телефон, мы перезвоним</p>
                <p><b> - Вы:</b> Здравствуйте! Хочу купить у вас автомобиль</p>
                <p><b> - Оператор:</b> Здравствуйте! Будем рады. Какой автомобиль вас интересует?</p>
                <p><b> - Вы:</b> Мерседец </p>
                <p><b> - Оператор:</b> У нас есть 5 вариантов. Сообщите ваш телефон, мы перезвоним</p>

            </div>
            <div class="contentedit">
                <div contenteditable="true"></div>
                <img src="/src/svg/question-arrow.svg"/>
            </div>

            <div class='x' onclick="closeChat()"><img src="/src/images/x.png" loading='lazy' alt=''>

            </div>
        </div>

        <span class='dark-fon' onclick="closeChat()"/>
    </div>
</div>
