<div class="attention">
  <div id="favoriteCount" class="question favorite" title="Выбранные автомобили"
       onclick="location.href='/personal/favorite-cars/'"></div>

  <div id="compareCount" class="question compare" title="Сравнить автомобили"
       onclick="location.href='/personal/list-compared/'"></div>
</div>
