.alone {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.alone .left {
    min-width: 510px;
    flex: 1.8;
}

.alone .right {
    flex: 1.2;
    min-width: 340px;
}

.alone .sticky {
    position: sticky;
    top: 2.5em;
    bottom: 1.875em;
}

.sticky-left {
    display: none;
}

.sticky .right__title {
    font-weight: 900;
    font-size: 1.70em;
    color: #000;
    line-height: 1.3;
}

.sticky-left .right__title {
    font-size: 1.375em;
    margin-bottom: 0.5rem;
}

.right__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.right__price .total {
    font-weight: 600;
    font-size: 1.5em;
    color: #000;
    white-space: nowrap;
    margin-right: 0.625em;
}


.right__price .price__of {
    color: #E22427;
    font-weight: 500;
    white-space: nowrap;
}

.right__tech {
    margin-top: 3.25em;
}

.right__tech .title {
    font-weight: 600;
    font-size: 1.25em;
    color: #000;
}

.right__tech--block {
    padding-top: 1.125em;
}

.right__bottom .page__btn {
    min-width: 100%;
}


.page__btn {
    padding: 15px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    min-width: 190px;
    display: inline-block;
    position: relative;
    color: white;
    cursor: pointer;
}

.page__btn--main {
    background-color: #191E21;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    overflow: hidden;
}

.page__btn--main::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #FFFFFF4C;
    transition: left 0.5s ease;
}

.page__btn--main:hover::before {
    left: 0;
}

.right__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right__tech--box {
    margin-bottom: 0.8em;
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.right__tech--box .text {
    font-size: 0.875em;
}


.right__bottom {
    margin-top: 4em;
}


.right__bottom .box {
    flex: 0 0 45%;
    max-width: 45%;
    margin-bottom: 0.625em;
    position: relative;
}

.page__btn--current {
    background-color: #E22427;
    overflow: hidden;
}

.page__btn--current::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #FFFFFF4C;
    transition: left 0.5s ease;
}

.page__btn--current:hover::before {
    left: 0;
}

.page__btn--tr {
    margin-top: 4px;
    color: #000;
    border: 1px solid #000;
    min-width: calc(100% - 2px) !important;
    overflow: hidden;
    transition: all 0.5s ease;
}

.page__btn--tr::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #E22427;
    transition: left 0.5s ease;
    z-index: -1;
}

.page__btn--tr:hover::after {
    left: 0;
}

.page__btn--tr:hover {
    color: white;
    border: 1px solid #E22427;
}

.alone .fotos {
    display: flex;
    margin: 14px 0;
    justify-content: center;
    flex-wrap: wrap;
    height: 76px;
    overflow: hidden;
    position: relative;
    gap: 12px 0;
}

.alone .fotos div {
    height: 76px;
    width: calc(20% - 10px);
    border-radius: 4px;
    overflow: hidden;
    margin: 0 5px;
}


.alone .fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.alone .fotos_black {
    background: #000000aa;
    position: absolute;
    right: 0;
    color: white;
    display: grid;
    place-items: center;
    cursor: pointer;
}


@media (max-width: 1000px) {
    .alone .right {
        display: none;
    }

    .sticky-left {
        display: block;
    }

    .alone .left {
        min-width: 100px;
    }

    .alone .mySwiper {
        margin: 0 -20px;
    }

    .right__bottom .box:last-child {
        display: none;
    }

    .right__bottom .box:first-child {
        display: block;
        max-width: calc(100% - 30px);
        flex: 1;
        margin-bottom: 4px;
    }
}

@media (max-width: 640px) {
    .alone .fotos {
        display: none;
    }
}

.big_viewer {
    position: absolute;
    top: 0;
    max-width: 1200px;
    z-index: 1000;
    width: calc(100% - 40px);
}

.big_viewer .dark-fon {
    position: fixed;
    top: 0;
    left: 0;
    background: #000000;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: -1;
}

.big_viewer .fotos_black {
    display: none;
}

.big_viewer .fotos div {
    height: 140px;
}

.big_viewer .fotos {
    overflow: unset;
}

.big .x {
    display: none;
}

.big.big_viewer .x {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    cursor: pointer;
}

.alone .mySwiper:hover .open_all {
    display: block;
}

.open_all {
    position: absolute;
    display: none;
    z-index: 1000;
    color: white;
    background: black;
    padding: 2px 12px;
    right: 0;
    cursor: pointer;
}

.big.big_viewer .open_all {
    right: -4000px;
}

.rotated {
    rotate: 90deg;
    position: fixed;
    width: 70vh;
    height: 100vw;
    z-index: 1000;
    right: 100px;
    top: 200px;
}

.rotated ~ .fotos {
    display: none;
}

/***/
.main__card-product--top{
    margin: 40px 0 60px;
    display: flex;
    justify-content: space-between;
}

.main__card-product--top .address {
    position: relative;
    font-weight: 500;
    font-size: 0.9375em;
    color: rgba(0, 0, 0, 0.6);
    padding-left: 1.25em;
    width: 60%;
    max-width: 200px;
}

.main__card-product--top .address::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 1px;
    line-height: 0;
    content: url(/src/svg/city-icon-gray.svg);
}

.main__card-product--top .link{
    display: flex;
    gap: 24px;
}

.main__card-product--accordion .complect ul {
    columns: 2;
}
@media  (max-width: 640px) {
    .main__card-product--accordion .complect ul {
        columns: 1;
        background: orange;
    }
}
