.bigbaner {
    min-height: calc(100vh - 90px);
    background-position: center center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bigbaner.shadow:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #00000000 0%, #000000A5 53%, #000000F2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#f2000000', GradientType=0);
}

.bigbaner__filed {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 73px;
    padding: 0 20px;
}

/* textBlock**/
.textBlock {
    width: 100%;
}

.textBlock strong {
    color: var(--color-red)
}

.textBlock a {
    color: white;
}

.textBlock h1 {
    font-size: 2.3em;
    font-family: Gilroy-Bold, system-ui;
}

.textBlock p {
    font-size: 1.3em;
    color: white;
}


@media (max-width: 1200px) {
    .textBlock {
        margin: 15px;
    }
}

/*@media (min-width: 992px) {*/
/*    .bigBanner .textBlock p {*/
/*        font-size: 1.4em;*/
/*    }*/
/*}*/

.dwl_link {
    display: inline-block;
    min-width: 50%;
    margin: 10px 0;
    border-bottom: solid 1px #f4f4f7;
    border-top: solid 1px #f4f4f7;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    position: relative;
    padding: 20px 35px 20px 50px;
    transition: all 0.3s ease;
}

.dwl_link.pdf:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    width: 24px;
    height: 24px;
    background: url(/src/svg/icon_pdf.svg) center center no-repeat;
    background-size: contain;
    margin-top: -12px;
}

.dwl_link:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 24px;
    height: 24px;
    background: url(/src/svg/icon_download.svg) center center no-repeat;
    margin-top: -12px;
}

.textBlock .person {
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 200px;
}

.textBlock .person .post {
    display: block;
    color: var(--color-red);
    font-size: 0.7em;
    font-weight: normal;
}

/* end textBlock**/

/* formBlock**/
.formBlock .wrap {
    background: #fff;
    padding: 40px;
    max-width: 340px;
    border-radius: 5px;
    float: right;
    text-align: center;
    color: black;
}

.formBlock .wrap h3, .container .wrap h3{
    font-size: 1.375em;
    font-family: Gilroy-Bold, system-ui;
    margin: 0 0 30px 0;
}

.formBlock .title {
    font-size: 1.375em;
    font-family: Gilroy-Bold, system-ui;
    margin: 0 0 30px 0;
    color: black;
}


.formBlock .title strong {
    color: var(--color-red);
}


.formBlock .form__modal--group {
    margin-bottom: 1.25em;
}

.formBlock .formBottom {
    border-top: solid 1px #DEDEDE;
    padding: 25px 0 0 0;
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.2em;
}

.formBlock .formBottom p {
    padding: 0;
    margin: 0;
}

.formBlock .formBottom a {
    color: var(--color-red);
    text-decoration-color: initial;
}


@media (min-width: 576px) {
    .formBlock .form__group input {
        height: 3rem;
    }
}

.formBlock .form__group {
    position: relative;
}

.formBlock .form__group input, .formBlock .form__group textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 7px 10px;
    border-radius: 5px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.875em;
    font-weight: 600;
    outline: none;
    border: none;
    height: 2.8125rem;
    background-color: var(--color-grey);
}

.formBlock .form__group label {
    display: block;
    text-align: center;
    font-size: 0.875em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    pointer-events: none;
    user-select: none;
    transform: translateX(0) translateY(-50%);
    transition: all 0.4s ease-in 0s;
}


.formBlock .modal__personal {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    line-height: 1.4;
    margin-top: 10px;
    text-align: left;
    color: #545454;
    font-size: .8em;
}

.formBlock .modal__personal a {
    font-size: larger;
    text-decoration: underline;
    white-space: nowrap;
    color: #000;
    position: relative;
}


@media (max-width: 768px) {
    .bigbaner .formBlock {
        display: none;
    }

    .bigbaner {
        min-height: auto;
    }

    .bigbaner.shadow:before {
        height: 350px;
    }
}

@media (min-width: 768px) {
    .bigbaner .formBlock.fix, .bigbaner .textBlock {
        max-width: 45%;
        margin-right: 10px;
    }
}


/* end formBlock**/


.franshizaCity {
    text-align: left;
    padding: 0;
    margin: 0 -1px;
}

.franshizaCity .headTxt {
    font-weight: 600;
}

.franshizaCity .headTxt img {
    float: left;
    margin: 0 15px 0 0;
}

.franshizaCity hr {
    margin: 30px 0;
    border: none;
    border-top: solid 1px #DEDEDE;
}

.franshizaCity .nums {
    display: flex;
    justify-content: space-between;
}

.franshizaCity .nums strong {
    font-size: 1.5em;
}

.franshizaCity .nums strong b {
    color: var(--color-red);
}

.franshizaCity .nextFormLoad {
    display: block;
    margin-top: 30px;
}

/**/

/*.bigbaner h1 strong, .bigbaner h2 strong {*/
/*    color: var(--color-red);*/
/*}*/

.bigbaner p.grey {
    background: url(/src/svg/icon_mouse.svg) left center no-repeat;
    font-size: 0.9em !important;
    font-family: Gilro, sans-serif;
    opacity: 0.6;
    padding-left: 30px;
    line-height: 21px;
    margin-top: 10px;
    color: white;
}

@media (min-width: 992px) {
    .bigbaner h1, .bigbaner h2, .banner_detailing h2 {
        color: #e8e6e3;
    }
}

@media (min-width: 576px) {
    .bigbaner h1, .bigbaner h2 {
        color: #e8e6e3
    }
}

@media (min-width: 992px) {
    .bigbaner h1, .bigbaner h2, .banner_detailing h2 {
        color: #fff;
        font-size: 2.2em;
    }
}

/***/

.insurance_call_phone a {
    text-decoration: none;
}

.logoTbl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0px 0;
}

.logoTbl > div {
    display: grid;
    place-items: center;
    padding: 15px;
    min-width: 200px;
}

@media (max-width: 500px) {
    .bigbaner.insurance {
        background-position: -160px -30px;

    }
}

/*большие баннеры*/
.shinny_f {
    background-image: url(/photo/shinny/srv_bnr_01.webp)
}

.vykup_f {
    background-image: url(/photo/vyk/banner_vykup.webp)
}

.podbor_f {
    background-image: url(/photo/podbor/autopodbor_bnr.webp)
}

.podbor_ff {
    background-image: url(/photo/podbor/autopodbor_bottom_bnr.webp)
}

.franshiza_f {
    background-image: url(/photo/franshiza/banner_franshiza.webp)
}

.franshiza_ff {
    background-image: url(/photo/franshiza/bnr_franshiza_02.webp)
}

.credit_f {
    background-image: url(/photo/insurance/credit_banner.webp)
}

.credit_ff {
    background-image: url(/photo/insurance/elvira_gaifulina.webp);
    margin-top: 140px
}

.insurance_f {
    background-image: url(/photo/insurance/insurance_bnr.webp)
}

.osmotr_f {
    background-image: url(/photo/obslug/osmotr.webp)
}

.remony_f {
    background-image: url(/photo/remont/banner_dvs.webp)
}

.akkp_f {
    background-image: url(/photo/akpp/banner_akpp.webp)
}

.zamena_f {
    background-image: url(/photo/masla/banner_oil.webp)
}

@media (max-width: 500px) {
    .shinny_f {
        background-image: url(/photo/shinny/srv_bnr_01_little.webp)
    }

    .vykup_f {
        background-image: url(/photo/vyk/banner_vykup_little.webp)
    }

    .podbor_f {
        background-image: url(/photo/podbor/autopodbor_bnr_little.webp)
    }

    .podbor_ff {
        background-image: url(/photo/podbor/autopodbor_bottom_bnr_little.webp)
    }

    .franshiza_f {
        background-image: url(/photo/franshiza/banner_franshiza_little.webp)
    }

    .franshiza_ff {
        background-image: url(/photo/franshiza/bnr_franshiza_02_little.webp)
    }

    .credit_f {
        background-image: url(/photo/insurance/credit_banner_little.webp)
    }

    .insurance_f {
        background-image: url(/photo/insurance/insurance_bnr_little.webp)
    }

    .osmotr_f {
        background-image: url(/photo/obslug/osmotr_little.webp)
    }

    .remony_f {
        background-image: url(/photo/remont/banner_dvs_little.webp)
    }

    .akkp_f {
        background-image: url(/photo/akpp/banner_akpp_little.webp)
    }

    .zamena_f {
        background-image: url(/photo/masla/banner_oil_little.webp)
    }
}