
.bossBlock {
    display: flex;
}

.bossBlock .desc {
    padding: 30px 0 0 0;
    margin-left: 80px;
}

@media (min-width: 860px) {
    .bossBlock .nums {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.bossBlock .nums {
    padding: 20px 0 0 0;
    font-weight: 600;
}

@media (min-width: 860px) {
    .bossBlock .nums > div:nth-child(1), .bossBlock .nums > div:nth-child(2) {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.bossBlock .nums > div {
    padding-bottom: 20px;
}

@media (min-width: 1200px) {
    .bossBlock .nums strong {
        font-size: 1.8em;
    }
}

.bossBlock .nums strong {
    color: #fd3437;
}

.bossBlock .nums strong {
    font-size: 1.5em;
    color: #FD2528;
    display: block;
}

@media (min-width: 860px) {
    .bossBlock .nums > div:nth-child(1), .bossBlock .nums > div:nth-child(2) {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 860px) {
    .bossBlock .nums > div:nth-child(3) {
        flex: 0 0 40%;
        max-width: 40%;
    }
}

.bossBlock .name {
    color: #E22427;
    padding: 20px 0;
}


/**/

@media (min-width: 992px) {
    .bossBlock .boss {
        margin: 0;
    }
}

.bossBlock .boss {
    flex: 0 0 40%;
    max-width: 40%;
}

.bossBlock .boss {
    position: relative;
    margin: 0 -15px;
    min-height: 60vh;
}

@media (min-width: 992px) {
    .bossBlock .boss:before {
        width: 60%;
        height: 95%;
        top: -30px;
    }
}

.bossBlock .boss:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 70%;
    left: 0;
    background: var(--color-red);
    height: 100%;
}

@media (min-width: 992px) {
    .bossBlock .boss .socLinks {
        width: 80%;
        max-width: 344px;
        left: 30px;
    }
}

.bossBlock .boss .socLinks {
    background-size: cover;
    background-position: right top;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 90%;
    position: absolute;
    width: 100%;
    padding: 30px 15px;
    z-index: 10;

}

.bossBlock .boss .socLinks:before {
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 53%, rgba(0, 0, 0, 0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#f2000000', GradientType=0);
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: 1;
}

.bossBlock .boss .socLinks a {
    color: #e8e6e3;
}

.bossBlock .boss .socLinks a {
    position: relative;
    z-index: 10;
    text-decoration: none;
    padding: 0 0 0 40px;
}

.bossBlock a.yt:before {
    content: '';
    left: 0;
    position: absolute;
    height: 20px;
    width: 25px;
    background-image: url(/src/svg/youtub.svg);
}


@media (max-width: 676px) {
    .bossBlock {
        display: flex;
        flex-wrap: wrap;
    }

    .bossBlock .boss {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .bossBlock .desc {
        margin-left: 30px;
    }

    .bossBlock .boss:before {
        height: 95%;
        top: -30px;
    }
}



/** formFranshizaCheck ***/

.formFranshizaCheck {
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    padding: 30px;
    position: relative;
    z-index: 20;
    margin-top: -100px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.formFranshizaCheck form {
    flex: 0 0 65%;
    max-width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formFranshizaCheck form .block, .formFranshizaCheck form .form__modal--button {
    flex: 0 0 49%;
    max-width: 49%;
    margin-bottom: 10px;
}
.formFranshizaCheck .nextFormLoad{
    display: none;
}

@media (max-width: 860px) {
    .formFranshizaCheck .form__modal{
        display: none;
    }
    .formFranshizaCheck .nextFormLoad{
        display: block;
    }
}

/** end formFranshizaCheck ***/