.capctha-div {
    position: relative;
    width: 100%;
    height: 45px;
    background-color: #f2f2f7;
    border-radius: 5px;
    overflow: hidden;
    min-width: 250px;
}

.capctha-div:hover .instructions {
    display: none;
}

.target-area {
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: white;
    border: 2px dashed red;
    border-radius: 4px;
    left: 100%;
    pointer-events: none;
    transition: left .5s ease;
}

.puzzle-piece {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #191E21;
    border-radius: 4px;
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.puzzle-piece:active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.track {
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #ccc;
    top: 38px;
    left: 0;
    border-radius: 2px;
}

.instructions {
    color: #000;
    padding: 10px 0;
    font-size: 0.73em;
    top: -15px;
    left: 20px;
    position: absolute;
    z-index: 100;
    width: 100%;
    pointer-events: none;
    text-align: center;
}

.result {
    position: absolute;
    z-index: 100;
    top: -48px;
    font-size: 42px;
    width: 100%;
    display: none;
    background: white;
}

.capctha-div.checked .result {
    display: flex;
    filter: grayscale(1);
}

.result span {
    color: black;
    font-size: 18px;
    margin-top: 20px;
}