.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 50px;
    width: 100%;
    margin: 50px 0 100px 0;
}

@media (max-width: 660px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

.cart {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 35px 1px #0000001a;
    transition: box-shadow 0.5s;
    min-height: 200px;
    font-weight: 600;
    display: grid;
    grid-template-columns: 47% auto;
    grid-template-areas: 'c_slide name' 'c_slide c_price' 'c_slide c_info' 'c_slide  c_box';
    position: relative;
}

.cart .penta_img {
    width: 20px;
    height: 20px;
}

cards.dot1 {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
}

cards.dot8 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

cards.dot8 .cart {
    grid-template-columns: auto;
    grid-template-areas: 'c_slide' 'name' 'c_price' 'c_info' 'c_box';
    border-radius: 5px;
    overflow: hidden;
}

@media (min-width: 500px) {
    cards.dot4 .cart__slide img, cards.dot8 .cart__slide img {
        max-height: 196px; /* чтобы разноразмерные файлы не прыгали на экране */
        aspect-ratio: 600/400;
        transition: all 0.2s ease-out;
    }
}

cards.dot4 .cart__slide.watch img, cards.dot8 .cart__slide.watch img {
    max-height: 400px; /* чтобы разноразмерные файлы не прыгали на экране */
}

.cart__slide.watch {
    position: fixed;
    z-index: 1000;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart__slide .photo {
    opacity: 1;
    transition: opacity .1s;
}

cards.dot1 .cart__box--bottom {
    margin: 0 0 30px 0;
}

.cart:hover {
    box-shadow: 0 0 35px 1px #00000035;
}

.cart__slide {
    position: relative;
    grid-area: c_slide;
    margin-right: 0;
    cursor: pointer;
    background: white;
}

.cart__slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.cart__slide .dark-fon, .question_block .dark-fon {
    display: none;
    position: absolute;
    top: -300%;
    left: -300%;
    background: #000000bb;
    width: 700%;
    height: 700%;
    cursor: pointer;
    z-index: -1;
}

.cart__slide.watch .dark-fon {
    display: block;
}

.a0 {
    left: 0;
}

.a1 {
    left: 16.5%;
}

.a2 {
    left: 33%;
}

.a3 {
    left: 50%;
}

.a4 {
    left: 66.5%;
}

.a5 {
    left: 83%;
}


.cart .name {
    grid-area: name;
    margin-left: 1em;
}

.cart .name a {
    text-decoration: none;
    color: #000;
}

.cart .name a:hover {
    color: var(--color-red);
}

.cart__price {
    margin: 12px 0 24px 1em;
    grid-area: c_price;
}

.big_link {
    text-decoration: none;
    color: black;
}

.big_link:hover {
    background: #fbfbfb;
}

.tyres_icon {
    width: 31px;
    margin: 20px;
    opacity: 0;
}

.cards.dot1 .big_link {
    font-size: 1.4em;
}

.cart__price .total {
    font-size: 1.25em;
    display: inline-block;
    margin-right: 5px;
}

@media (max-width: 575px) {
    .cart, .cards.dot8 .cart {
        margin: 0 -20px;
        padding: 0 20px;
        border-radius: 0;
        grid-template-columns: auto auto;
        grid-template-areas: 'name name' 'c_slide c_slide' 'c_price c_price' 'c_box c_box';
    }

    cards.dot8 {
        grid-template-columns: 1fr;
    }


    .cart__slide img {
        margin: 0 -20px;
        width: calc(100% + 40px);
        border-radius: 0;
    }

    .cart__info {
        margin-bottom: 20px;
        display: inline-block;
        max-width: inherit !important;
    }

    .cart__box--bottom {
        margin: 10px 0;
    }
}

.cart__of {
    color: var(--color-red);
    font-size: 0.875em;
    display: inline-block;
}

.cart__info {
    font-weight: 600;
    font-size: 0.8125em;
    max-width: 170px;
    grid-area: c_info;
    margin-left: 1em;
}

.cart__box--bottom {
    grid-area: c_box;
}

.cart__box--bottom a {
    display: inline-block;
    margin-right: 0.625em;
    width: 1.25em;
}

.cart__box--bottom img:hover {
    /*красный по наведению*/
    filter: sepia(100%) saturate(6860%);
}

.cart__box--bottom img.chosen {
    filter: sepia(100%) saturate(6860%);
}


.cart .field {
    width: 100%;
    position: absolute;
}

.cart .red {
    width: 20%;
    position: absolute;
    background: var(--color-red);
    height: 4px;
    bottom: 4px;
}

.cart__blank {
    color: white;
    font-size: small;
    position: absolute;
    left: 0.625em;
    bottom: 1.25em;
    padding: 7px 9px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
}

.cart__slide:hover .cart__blank {
    opacity: 0;
}

.type_views {
    float: right;
    display: flex;
    cursor: pointer;
}

.coin {
    font-size: 16px;
    font-family: Gilroy, system-ui;
    margin: 6px 50px 0;
    float: right;
    display: flex;
    cursor: pointer;
}

.coin span {
    display: flex;
    gap: 8px;
}

.coin span:hover {
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 600px) {
    .type_views {
        display: none;
    }
}

.type_views div {
    background: #ddd;
    width: 20px;
    height: 20px;
    padding: 6px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    box-shadow: 0 0 3px #ddd;
    opacity: .4;
}

.type_views div.active {
    background: #ffffff;
    opacity: 1;
}

.type_views img {
    width: 60%;
    pointer-events: none;
}

.fast_show {
    background: #00000055;
    position: absolute;
    padding: 8px;
    color: white;
    border-bottom: 2px solid white;
    opacity: 0;
    white-space: nowrap;
    text-align: center;
    width: calc(100% - 16px);
}

.fast_show:hover {
    opacity: 1;
}

@media (max-width: 600px) {
    .fast_show {
        display: none;
    }
}