.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 50px;
    width: 100%;
    margin: 50px 0 100px 0;
}

@media (max-width: 660px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

.cart {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 35px 1px #0000001a;
    cursor: pointer;
    transition: box-shadow 0.5s;
    min-height: 200px;
    font-weight: 600;
    display: grid;
    grid-template-columns: 47% auto;
    grid-template-areas: 'c_slide name' 'c_slide c_price' 'c_slide c_info' 'c_slide  c_box'
}

.cart .compare_img{
    width: 20px;
    height: 18px;
}
.cart .penta_img{
    width: 20px;
    height: 20px;
}

cards.dot1 {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
}

cards.dot8 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

cards.dot8 .cart {
    grid-template-columns: auto;
    grid-template-areas: 'c_slide' 'name' 'c_price' 'c_info' 'c_box';
    border-radius: 5px;
    overflow: hidden;
}

.cart:hover {
    box-shadow: 0 0 35px 1px #00000035;
}

.cart__slide {
    position: relative;
    grid-area: c_slide;
}

.cart__slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.cart__slide.watch {
    position: fixed;
    top: 150px;
    left: calc(50% - 330px);
    z-index: 1000;
    border-radius: 5px;
    overflow: hidden;
}

.cart__slide .dark-fon, #ya_map .dark-fon, .question_block .dark-fon{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000bb;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: -1;
}

#ya_map .dark-fon {
    display: block;
}

.cart__slide.watch .dark-fon {
    display: block;
}

.a0 {
    left: 0;
}

.a1 {
    left: 16.5%;
}

.a2 {
    left: 33%;
}

.a3 {
    left: 50%;
}

.a4 {
    left: 66.5%;
}

.a5 {
    left: 83%;
}


.cart .name {
    grid-area: name;
    margin-left: 1em;
}

.cart .name a {
    text-decoration: none;
    color: #000;
}

.cart .name a:hover {
    color: var(--color-red);
}

.cart__price {
    margin: 12px 0 24px 1em;
    grid-area: c_price;
}

.cart__price .total {
    font-size: 1.25em;
    display: inline-block;
    margin-right: 5px;
}

@media (max-width: 575px) {
    .cart, .cards.dot8 .cart {
        margin: 0 -20px;
        padding: 0 20px;
        border-radius: 0;
        grid-template-columns: auto auto;
        grid-template-areas: 'name name' 'c_price c_price'  'c_slide c_slide' 'c_info c_box';
    }

    cards.dot8 {
        grid-template-columns: 1fr;
    }

    .cart__slide {
        margin-right: 0;
    }

    .cart__slide img {
        margin: 0 -20px;
        width: calc(100% + 40px);
        border-radius: 0;
    }

    .cart__info {
        margin: 30px 0;
        display: inline-block;
    }

    .cart__box--bottom {
        margin: 30px 0;
    }
}

.cart__of {
    color: #E22427;
    font-size: 0.875em;
    display: inline-block;
}

.cart__info {
    font-weight: 600;
    font-size: 0.8125em;
    max-width: 170px;
    grid-area: c_info;
    margin-left: 1em;
}

.cart__box--bottom {
    grid-area: c_box;
    margin: 20px 0 30px 1em;
}

.cart__box--bottom a {
    display: inline-block;
    margin-right: 0.625em;
    width: 1.25em;
}

.cart__box--bottom img:hover {
    filter: sepia(100%) saturate(6860%);
}

.cart .field {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.cart .red {
    width: 17%;
    position: absolute;
    background: var(--color-red);
    height: 4px;
    bottom: 0;
}

.cart__blank {
    color: white;
    font-size: small;
    position: absolute;
    left: 0.625em;
    bottom: 1.25em;
    padding: 7px 9px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

h2 .type_views {
    float: right;
    display: flex;
    cursor: pointer;
}
h2 .type_views.coin {
    font-size: 16px;
    font-family: 'Gilroy';
    margin: 6px 100px 0;
}

@media (max-width: 600px) {
    h2 .type_views {
        display: none;
    }
}

h2 .type_views div {
    background: #ddd;
    width: 20px;
    height: 20px;
    padding: 6px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    box-shadow: 0 0 3px #ddd;
    opacity: .4;
}

h2 .type_views div.active {
    background: #ffffff;
    opacity: 1;
}

h2 .type_views img {
    width: 60%;
    pointer-events: none;
}
