/** podbor что мы проверяем */

.checkTbl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5vh 0;
    padding: 0 20px;
}

.checkTbl .item {
    padding: 10px 0;
}

@media (min-width: 576px) {
    .checkTbl .item {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

@media (min-width: 992px) {
    .checkTbl .item {
        flex: 0 0 30%;
        max-width: 30%;
        padding: 20px 0;
    }
}

.checkTbl .item .img {
    width: 60px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.checkTbl .item img {
    max-width: 60px;
    max-height: 50px;
}

.checkTbl .item .name {
    font-weight: bold;
    margin: 10px 0;
}

/****/


.iconSetList {
    padding: 20px 0;
}


@media (min-width: 992px) {
    .iconSetList {
        padding: 60px 0;
    }
}

.iconSetList img {
    width: 36px;
}


.iconSetList em {
    color: var(--color-red);
}

.iconSetList strong {
    font-size: 0.9em;
    line-height: 1.8em;
}

.iconSetList > div p {
    margin: 4px 0;
}

.iconSetList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 40px;
}

.iconSetList > div {
    width: calc(33.1% - 28px);
}

@media (max-width: 992px) {
    .iconSetList > div {
        flex: 1 0 33%;
    }

    .iconSetList > div {
        position: relative;
        padding: 0 0 30px 54px;
    }

    .iconSetList > div > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 36px;
    }

}


@media (max-width: 650px) {
    .iconSetList > div {
        flex: 0 0 80%;
        max-width: 80%;
    }
}


/*****/

.bossBlock {
    display: flex;
}

.bossBlock .desc {
    padding: 30px 0 0 0;
    margin-left: 80px;
}

@media (min-width: 860px) {
    .bossBlock .nums {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.bossBlock .nums {
    padding: 20px 0 0 0;
    font-weight: 600;
}

@media (min-width: 860px) {
    .bossBlock .nums > div:nth-child(1), .bossBlock .nums > div:nth-child(2) {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.bossBlock .nums > div {
    padding-bottom: 20px;
}

@media (min-width: 1200px) {
    .bossBlock .nums strong {
        font-size: 1.8em;
    }
}

.bossBlock .nums strong {
    color: #fd3437;
}

.bossBlock .nums strong {
    font-size: 1.5em;
    color: #FD2528;
    display: block;
}

@media (min-width: 860px) {
    .bossBlock .nums > div:nth-child(1), .bossBlock .nums > div:nth-child(2) {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 860px) {
    .bossBlock .nums > div:nth-child(3) {
        flex: 0 0 40%;
        max-width: 40%;
    }
}

.bossBlock .name {
    color: #E22427;
    padding: 20px 0;
}


/**/

@media (min-width: 992px) {
    .bossBlock .boss {
        margin: 0;
    }
}

.bossBlock .boss {
    flex: 0 0 40%;
    max-width: 40%;
}

.bossBlock .boss {
    position: relative;
    margin: 0 -15px;
    min-height: 60vh;
}

@media (min-width: 992px) {
    .bossBlock .boss:before {
        width: 60%;
        height: 95%;
        top: -30px;
    }
}

.bossBlock .boss:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 70%;
    left: 0;
    background: var(--color-red);
    height: 100%;
}

@media (min-width: 992px) {
    .bossBlock .boss .socLinks {
        width: 80%;
        max-width: 344px;
        left: 30px;
    }
}

.bossBlock .boss .socLinks {
    background-size: cover;
    background-position: right top;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 90%;
    position: absolute;
    width: 100%;
    padding: 30px 15px;
    z-index: 10;

}

.bossBlock .boss .socLinks:before {
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 53%, rgba(0, 0, 0, 0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#f2000000', GradientType=0);
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: 1;
}

.bossBlock .boss .socLinks a {
    color: #e8e6e3;
}

.bossBlock .boss .socLinks a {
    position: relative;
    z-index: 10;
    text-decoration: none;
    padding: 0 0 0 40px;
}

.bossBlock a.yt:before {
    content: '';
    left: 0;
    position: absolute;
    height: 20px;
    width: 25px;
    background-image: url(/src/svg/youtub.svg);
}


@media (max-width: 676px) {
    .bossBlock {
        display: flex;
        flex-wrap: wrap;
    }
    .bossBlock .boss {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .bossBlock .desc {
        margin-left: 30px;
    }
    .bossBlock .boss:before {
        height: 95%;
        top: -30px;
    }
}