.bx_compare {
    max-width: 100vw;
    overflow-x: auto;
    overflow-x: auto;
    margin: 0 -20px;
}


.data-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.bx_compare table tr:nth-child(odd) td {
    background: #f9f9f9;
}

.bx_compare table tr td {
    font-size: 13px;
    padding: 8px 5px;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
}

.PREVIEW_PICTURE img {
    max-width: 150px;
}

#compare-field .nodata {
    width: 100%;
    height: 300px;
    display: grid;
    place-items: center;
}
