.bx_compare {
    max-width: 100vw;
    overflow-x: auto;
    overflow-x: auto;
    margin: 0 -20px;
}


.data-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.bx_compare table tr:nth-child(odd) td {
    background: #f9f9f9;
}

.bx_compare table tr td {
    font-size: 13px;
    padding: 8px 5px;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
}

.PREVIEW_PICTURE img {
    max-width: 150px;
}

#compare-field{
    cursor:  col-resize ;
}

#compare-field .nodata {
    width: 100%;
    height: 300px;
    display: grid;
    place-items: center;
    text-align: center;
}

.compare-clear #delete-all{
    height: 40px;
    padding: 0 26px;
    font-size: 15px;
    font-weight: 600;
    background: var(--color-red);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.compare-clear{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
