.main_cred {
    margin-top: 60px;
}

.main_cred-col {
    padding: 16px;
    background: white;
    float: left;
    display: inline;
    width: calc(50% - 32px);
}

@media (max-width: 575px) {
    .main_cred-col {
        width: calc(100% - 32px);
    }

    .main_cred-col.first {
        width: calc(50% - 32px);
    }
}

.cred-small {
    font-size: 0.8125em;
}

.cred-big {
    color: #000;
    font-size: 1.33em;
    line-height: 1.4em;
    font-weight: 600;
}

.slider__ui {
    margin-top: 16px;

    height: 4px;
    background-color: #CACACA;
    border-radius: 3px;
    position: relative;
}

.slider__ui .slider__ui-range {
    position: absolute;
    height: 4px;
    background-color: var(--color-red);
}

.slider__ui .slider__ui-handle {
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 20px;
    top: -8px;
    background-color: var(--color-red);
    border-radius: 50%;
}

.main_cred-col.field {
    position: relative;
}

.main_cred-col.field input {
    width: 100%;
    box-sizing: border-box;
    padding: 7px 20px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.875em;
    font-weight: 600;
    outline: none;
    border: none;
    height: 2.8125rem;
    background-color: #f2f2f7;
}

.main_cred-col:hover .placehold, .main_cred-col:has(input:not(:placeholder-shown)) .placehold {
    display: none;
}

.main_cred-col.field label {
    position: absolute;
    left: 37px;
    top: 28px;
}

.main_cred-col.sender {
    display: flex;
    gap: 8px;
    font-size: 14px;
    line-height: 1.4;
    color: #7d7d7d;
}

.main_cred-col.sender label {
    cursor: pointer;
}

.attent {
    color: var(--color-red);
    display: none;
    font-size: small;
    line-height: 1.6;
}

.main_cred-col.sender a {
    white-space: nowrap;
    color: #000;
}

.main_cred-col.desk {
    font-weight: 600;
    font-size: 0.75em;
    color: #7d7d7d;
}

.main_cred-col.desk a {
    outline: none;
    border: none;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
}

/** для автокредита**/
.autoCre {
    margin-top: 20px;
    display: flex;
}

.autoCre > div {
    flex: 1;
}

.autoCre .slider__ui, .autoCre.slider__ui {
    margin-top: 8px;
}
