.main__card-product--calc{
    margin-top: 60px;
}

.main__card-product--calc .form__card-calc {
    margin-top: 1.75em;
}

.form__card-calc {
    font-weight: bold;
}

.form__card-calc--top .box, .form__card-calc--middle .box, .form__card-calc--bottom .box {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1.75em;
}
.formBlock .form__card-calc--top .box, .formBlock .form__card-calc--middle .box, .formBlock .form__card-calc--bottom .box
{
    margin-bottom: 15px;
}

.form__card-calc--top .name, .form__card-calc--middle .name, .form__card-calc--bottom .name {
    color: rgba(94, 94, 94, 0.8);
    font-weight: 500;
    font-size: 0.75em;
}

.form__card-calc--top .box {
    flex: 0 0 45%;
    max-width: 45%;

}

.form__card-calc--middle .box, .form__card-calc--bottom .box {
    flex: 0 0 100%;
    max-width: 100%;
}

.form__card-calc--button .page__btn {
    min-width: 100%;
}

.form__card-calc--desc {
    font-weight: 600;
    font-size: 0.75em;
    color: #7d7d7d;
}

.form__card-calc--desc a {
    outline: none;
    border: none;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
}

.form__card-calc .form__group input {
    text-align: left;
}

.form__card-calc .form__group label {
    text-align: left;
    padding-left: 0.625em;
    padding-right: 0.625em;
}

.form__card-calc .down_payment {
    color: #000;
    font-size: 1.0625em;
    line-height: 1.4em;
    font-weight: 600;
}

.form__card-calc .mountly_payment {
    color: #E22427;
    font-size: 1.1625em;
    font-weight: 600;
}

.form__card-calc .slider {

}

.form__card-calc .slider__text {
    font-weight: 600;
    color: #000;
    font-size: 1.0625em;
    margin-bottom: 0.75em;
    line-height: 1.3;
}
.formBlock .form__card-calc .slider__text
{
    margin-bottom: 0.25em;
}

.form__card-calc .slider__text--buffer {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.form__card-calc .slider__text--buffer .input {
    min-width: 36px;
    max-width: 250px;
    padding: 0 0;
    font-weight: 600;
    color: #000;
    outline: none;
    border: none;
    width: 100%;
    display: inline;
}

.form__card-calc .slider__text--buffer .buffer {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    white-space: nowrap;
    font-size: 1.0625em;
}

.form__card-calc .ui-slider, .form__card-calc .ui-slide {
    height: 3px;
    background-color: #CACACA;
    border: none;
}

.form__card-calc .ui-slider span, .form__card-calc .ui-slide span {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    background-color: #E22427;
    border: 2px solid #fff;
    color: transparent;
    top: 50%;
    transform: translateX(0) translateY(-50%);
    outline: none !important;
}

.form__card-calc .ui-slider span.ui-state-focus, .form__card-calc .ui-slide span.ui-state-focus {
    border: transparent;
}

.form__card-calc .ui-slider .ui-slider-range, .form__card-calc .ui-slide .ui-slider-range {
    height: 3px;
    top: -1px;
    background-color: #E22427;
}