@media (min-width: 1200px) {
    .faqList {
        column-gap: 100px;
    }
}

@media (min-width: 992px) {
    .faqList {
        column-gap: 50px;
    }
}

@media (min-width: 768px) {
    .faqList {
        columns: 2;
        column-gap: 25px;
    }
}

.faqList {
    margin-top: 20px;
}

@media (min-width: 992px) {
    .faqList .spoiler {
        padding: 30px 10px;
    }
}

@media (min-width: 768px) {
    .faqList .spoiler {
        page-break-inside: avoid;
        break-inside: avoid;
    }
}

.faqList .spoiler {
    padding: 20px 10px;
    border-top: solid 1px #f4f4f7;
    border-bottom: solid 1px #f4f4f7;
}

.faqList button {
    font-weight: 600;
    font-size: 1.05em;
    position: relative;
    padding: 0 40px 0 0;
    margin: 0;
    border: 0;
    outline: none;
    background: none;
    width: 100%;
    text-align: left;
}

.faqList .spoiler-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-out;
}

.faqList .spoiler-header:focus + .spoiler-content, .faqList .spoiler-content:hover {
    max-height: 350px;
    padding-top: 15px;
}


.faqList .spoiler-header:focus {
    color: var(--color-red);
}

.faqList button:before {
    content: ' ';
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid var(--color-red);
    border-right: 2px solid var(--color-red);
    right: 0.625em;
    top: 50%;
    user-select: none;
    pointer-events: none;
    transform: translateX(0) translateY(-50%) rotate(45deg);
}

.faqList .item:target {
    display: block;
}

/*.faqList .answer*/