:root {
    --color-red: #E22427;
    --color-light-blue: #f1f8fb;
    --color-grey: #f2f2f7;
}

@font-face {
    font-family: "Gilroy";
    font-display: swap;
    src: url("@/fonts/Gilroy-Light.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Bold";
    font-display: swap;
    src: url("@/fonts/Gilroy-ExtraBold.otf");
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
}

main {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
}

@media (width < 1240px) {
    main {
        max-width: calc(100% - 40px);
    }
}

main h2, main h1 {
    font-family: Gilroy-Bold, sans-serif;
}


.page_padding_20 {
    padding: 20px 0 10px;
}

@media (max-width: 500px) {

    .mainPhoto_little {
        display: block;
    }

    .page_padding_20 {
        padding: 20px 15px;
    }
}

.page_padding_20 h2 {
    font-family: system-ui, Gilroy-Bold;
}

.page_padding_20 a {
    text-decoration: none;
}

.bread_cranbs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-size: .7em;
}

.bread_cranbs a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.bread_cranbs a:hover {
    color: var(--color-red);
}

/***/

.page__link {
    font-weight: 600;
    text-decoration: none;
}

.page__link span {
    color: var(--color-red);
    transition: all 0.4s;
}

.page__link img {
    margin-right: 7px;
    margin-left: 0;
    transition: all 0.4s;
}

.page__link span:hover {
    color: black;
}

.page__link:hover img {
    margin-right: 0;
    margin-left: 7px;
    filter: grayscale(1);
}

/* geography **/

.geography {
    margin-bottom: 60px;
}

.mainPhoto_big, .mainPhoto_little {
    width: 100%;
    cursor: pointer;
}

.mainPhoto_little {
    display: none;
    aspect-ratio: 483/534;
}

.mainPhoto_big {
    aspect-ratio: 1200/500
}


@media (max-width: 900px) {
    .mainPhoto_big {
        display: none;
    }

    .mainPhoto_little {
        display: block;
        margin: 0 -20px;
        width: calc(100% + 40px);
    }
}

@media (max-width: 500px) {
    .mainPhoto_big {
        display: none;
    }
}

/*****/
.car_vitrina{
    display: flex;
    justify-content: space-between;
    align-items: center
}


.pager{
    grid-column: 1 / -1
}

.pager a {
    color: black;
    padding: 5px;
    text-decoration: none;
}

.pager a:hover {
    color: var(--color-red);
    font-weight: bold;

}

.pager span{
    color: #bbb
}

.pager a.active {
    color: var(--color-red);
    font-weight: bold;
    font-size: large;
}


.message-span{
    position: fixed;
    top: 20px;
    right: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 10000;
    box-shadow: 0 0 10px black;
    border: 2px solid white;
    opacity: 0;
    transform: translateY(32px);
    transition: all 0.3s ease-out;
}

.message-span.show { /*всплытие*/
    opacity: 1;
    transform: translateY(0);
}