:root {
    --color-red: #E22427;
    --color-light-blue: #f1f8fb;
    --color-grey: #f2f2f7;
}

@font-face {
    font-family: "Gilroy";
    font-display: swap;
    src: url("@/fonts/Gilroy-Light.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Bold";
    font-display: swap;
    src: url("@/fonts/Gilroy-ExtraBold.otf");
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: 'Gilroy', system-ui;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
}

main {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
}

@media (width < 1240px) {
    main {
        max-width: calc(100% - 40px);
    }
}

main h2, main h1 {
    font-family: Gilroy-Bold, system-ui;
}


.page_padding_20 {
    padding: 20px 0 10px;
}

@media (max-width: 500px) {

    .mainPhoto_little {
        display: block;
    }

    .page_padding_20 {
        padding: 20px 15px;
    }
}

.page_padding_20 h2 {
    font-family: Gilroy-Bold, system-ui;
}

.page_padding_20 a {
    text-decoration: none;
}

.bread_cranbs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-size: .7em;
}

.bread_cranbs a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.bread_cranbs a:hover {
    color: var(--color-red);
}

/***/

.page__link {
    font-weight: 600;
    text-decoration: none;
}

.page__link span {
    color: var(--color-red);
    transition: all 0.4s;
}

.page__link img {
    margin-right: 7px;
    margin-left: 0;
    transition: all 0.4s;
}

.page__link span:hover {
    color: black;
}

.page__link:hover img {
    margin-right: 0;
    margin-left: 7px;
    filter: grayscale(1);
}

/* geography **/

.geography {
    margin-bottom: 60px;
}

.mainPhoto_big, .mainPhoto_little {
    width: 100%;
    cursor: pointer;
}

.mainPhoto_little {
    display: none;
    aspect-ratio: 483/534;
}

.mainPhoto_big {
    aspect-ratio: 1200/500
}


@media (max-width: 900px) {
    .mainPhoto_big {
        display: none;
    }

    .mainPhoto_little {
        display: block;
        margin: 0 -20px;
        width: calc(100% + 40px);
    }
}

@media (max-width: 500px) {
    .mainPhoto_big {
        display: none;
    }
}

/*****/
.car_vitrina {
    display: flex;
    justify-content: space-between;
    align-items: center
}


.pager {
    grid-column: 1 / -1
}

.pager a {
    color: black;
    padding: 5px;
    text-decoration: none;
}

.pager a:hover {
    color: var(--color-red);
    font-weight: bold;

}

.pager span {
    color: #bbb
}

.pager a.active {
    color: var(--color-red);
    font-weight: bold;
    font-size: large;
}


.message-span {
    position: fixed;
    top: 20px;
    right: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 10000;
    box-shadow: 0 0 10px black;
    border: 2px solid white;
    opacity: 0;
    transform: translateY(32px);
    transition: all 0.3s ease-out;
}

.message-span.show { /*всплытие*/
    opacity: 1;
    transform: translateY(0);
}


/* красная кнопка с белой анимацией */
.page__btn--current {
    background-color: var(--color-red);
    overflow: hidden;
}

.page__btn--current::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #FFFFFF22;
    transition: left 0.5s ease;
}

.page__btn--current:hover::before {
    left: 0;
}

.page__btn {
    padding: 15px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    min-width: 190px;
    display: inline-block;
    position: relative;
    color: white;
    cursor: pointer;
}

/***/

#right_panel_content {
    max-width: 350px;
    text-align: center
}

/**/

.with_sub_field input {
    pointer-events: none;
}

.with_sub_field .select {
    position: absolute;
    background: var(--color-grey);
    border: 1px solid #999;
    width: 99%;
    display: initial;
    z-index: 99;
    left: 1px;
    top: 45px;
    color: black;
    box-shadow: 0 10px 10px #bbb;
    display: none;
}

.with_sub_field:after {
    display: block;
    position: absolute;
    right: 8px;
    top: 20px;
    margin-top: 1px;
    line-height: 0;
    content: url(/svg/arrow-down.svg);
}

.with_sub_field .select div {
    padding: 2px 0;
    border: 1px solid #ddd;
}

.with_sub_field .select div:hover, .with_sub_field .select div.active {
    background: #0e70c0;
    color: white;
}
/***/
.map-modal, .photo-modal {
    /*display: grid;*/
    place-items: center;
    background: #00000099;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 100;
    display: none;
}

.map-modal > .closer{
    position: absolute;
    top: 60px;
    padding: 20px;
    cursor: pointer;
    z-index: 100000000;
}
.map-modal > .closer:hover{
    background: #ccc;
}

.red {
    color: var(--color-red);
}

.cart__box--bottom img.chosen {
    filter: sepia(100%) saturate(6860%) !important;
}