.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 22px;
}

.news-card {
    max-width: calc(33.3% - 18px);
    border-radius: 7px;
    overflow: hidden;
    background: #f7f7f7;
    transition: box-shadow 0.5s;
    display: flex;
    flex-direction: column;
}

.grow{
    flex-grow: 1;
}

.news-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px 1.5rem;
    /*background: pink;*/
    /*border: 2px solid pink;*/
}

.news-card:hover {
    box-shadow: 0 0 20px #0000004d;
}

.news-content {
    padding: 16px;
}

.news-content p {
    font-size: 0.95rem;
}

@media (max-width: 768px) {
    .news-card {
        max-width: 100%;
    }
}

.news-card img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.news-card h3 {
    font-family: Gilroy-Bold, system-ui;
    font-weight: 600;
}



.news-date {
    font-size: 0.85rem;
    color: #000;
}

.read-more-btn {
    font-size: 0.85rem;
    color: #fff;
    background-color: #e32136;
    padding: 6px 12px;
    min-width: auto;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.read-more-btn:hover {
    background-color: #c51d2e;
}

.bottom-nav{
    margin: 40px 0 0 0 ;
}
.bottom-nav a{
    color: var(--color-red);
    padding: 5px;
    text-decoration: none;
}
.bottom-nav a.active{
    font-family: Gilroy-Bold, system-ui;
}