.promo-photos{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;
    justify-content: space-around;
    min-height: 402px;
}


.promo-photos img{
    width: 100%;
    border-radius: 6px;
}
.promo-photos .ver{
    aspect-ratio: 278/402
}
.promo-photos .hor{
    aspect-ratio: 585/200
}


@media (max-width: 1240px) {
    .promo-photos .ver{
        width: calc(25% - 20px);
    }

    .promo-photos .hor{
        width: calc(50% - 20px);
    }
}

@media (max-width: 850px) {
    .promo-photos .ver{
        width: calc(50% - 20px);
        text-align: center;
    }
    .promo-photos .hor{
        width: 100%;
        text-align: center;
    }

    .promo-photos img{
        width: initial;
    }
}

/***/
.promo-banner{
    max-width: 1200px
}

.promo-banner .big{
    display: block;
    aspect-ratio: 1200/500
}
.promo-banner .small{
    display: none;
    aspect-ratio: 500/723
}

@media (max-width: 650px) {
    .promo-photos .ver {
        width: 100%;
    }
    .promo-photos img {
        margin-bottom: 0;
        border-radius: 0;
    }
    .promo-photos .hor img{
        width: calc(100% + 40px);
        margin-left: -20px;
    }
    .promo-banner .big{
        display: none;
    }
    .promo-banner .small{
        display: block;
    }
}

.promo-banner img{
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 20px
}

/****/

.promo-detail-call__wrap {
    width: 100%;
    margin: 50px auto;
    background-color: #f3f3f3;
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
}

.promo-detail-call__wrap .div{
    padding: 48px;
    width: calc(50% - 96px);
}

@media (max-width: 750px) {
    .promo-detail-call__wrap .div{
        padding: 0 20px 20px;
        width: 100%;
    }
}

.promo-detail-call__wrap h3{
    font-size: 2.4em;
    font-family: Gilroy-Bold, sans-serif;
}
.promo-detail-call__wrap p {
    font-size: 1.5rem;
}

.promo-form .modal__personal {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    line-height: 1.4;
    margin-top: 10px;
    text-align: left;
    color: #545454;
    font-size: .8em;
}

.promo-form .modal__personal a {
    font-size: larger;
    text-decoration: underline;
    white-space: nowrap;
    color: #000;
    position: relative;
}

.promo-form .form__modal--group {
    margin-bottom: 1.25em;
    text-align: right;
}

@media (min-width: 576px) {
    .promo-form .form__group input {
        height: 3rem;
    }
}

.promo-form .form__group {
    position: relative;
}

.promo-form .form__group input, .promo-form .form__group textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 7px 10px;
    border-radius: 5px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.875em;
    font-weight: 600;
    outline: none;
    border: none;
    height: 2.8125rem;
    background-color: white;
}

.promo-form .form__group label {
    display: block;
    text-align: center;
    font-size: 0.875em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    pointer-events: none;
    user-select: none;
    transform: translateX(0) translateY(-50%);
    transition: all 0.4s ease-in 0s;
}

.promo-form .page__btn{
    width: 100%;
}

