.reserve-wrap {
    width: calc(100% - 70px);
    margin: 20px -5px;
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 50px 40px;

}

.reserve-wrap h3 {
    font-size: 32px;
    font-weight: 100;
}

.reserve-wrap .row {
    display: flex;
    justify-content: space-between;
    gap: 0 30px;
}

@media (max-width: 767px) {
    .reserve-wrap .row {
        flex-wrap: wrap;
    }
}

.reserve-wrap .row input, .reserve-wrap .row button {
    width: 100%;
    margin: 15px 0;
    border-radius: 5px;
    height: 3rem;
    outline: none;
    border: none;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.875em;
    font-weight: 600;
    background-color: #fff;
}

.reserve-wrap .row button {
    background: var(--color-red);
    color: white;
}

.reserve-wrap .info {
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.4;
}

.reserve-wrap .info a {
    color: black;
    font-weight: bold;
}

.reserve-wrap .modal__error {
    color: red;
    display: none;
}

#h3-place a {
    text-decoration: none;
}

#h3-place a:hover {
    text-decoration: underline;
}

