@import url('@/css/global.css');
@import url('@/css/cookie-banner.css');
@import url('@/css/header/header.css');
@import url('@/css/header/comb.css');
@import url('@/css/header/buttons.css');
@import url('@/css/carSearch.css');
@import url('@/css/footer/footer.css');
@import url('@/css/footer/fixed-footer.css');
@import url('@/css/footer/cities.css');
@import url('@/css/filter-controls.css');
@import url('@/css/fixed_bottom/question.css');

@import url('@/css/alone.css');
@import url('@/css/credit.css');
@import url('@/css/abdulnasyrov.css');




