.vacancy {
    position: relative;
    background: linear-gradient(90deg, white, #ffffff00);
    background: linear-gradient(90deg, white 40%, #ffffff00, #ffffff00);
    z-index: 1;

}

.alsu {
    height: 100vh;
    overflow: hidden;
    top: 87px;
    width: 100%;
    position: absolute;
}

.alsupic {
    display: none;
    margin: 0 -20px;
    width: 100vw;
}

.alsufon {
    background-image: url(/photo/vacancy/vacancy_bnr_01.webp);
    background-position: center center;
    background-size: cover;
    position: absolute;
    right: -20%;
    left: 23%;
    aspect-ratio: 1600/1066;
    z-index: 0;
}

.desc {
    max-width: 600px;
    z-index: 10000;
    height: calc(100vh - 87px);
    position: relative;
}

@media (max-width: 1020px) {
    .alsufon {
        display: none;
    }

    .desc {
        height: inherit;
    }
}

@media (max-width: 600px) {
    .alsupic {
        display: block;
    }
}


.videoFrame {
    margin-top: 60px;
}

.boons {
    margin-top: 100px;
}

@media (max-width: 760px) {
    .boons {
        display: none;
    }
}

.vac_img {
    height: 130px;
}

.vac {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vac_prime {
    flex: 0 0 1%;
    text-align: center;
    margin-bottom: 35px;
    min-width: 200px;
}

@media (max-width: 1070px) {
    .vac_prime {
        flex: 0 0 48%;
    }
}


/***/
.choice_comb {
    margin: 30px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.filter-white .big-combo, .filter-white .big-comb__input {
    background: var(--color-grey);
}

/*** */

@media (min-width: 992px) {
    .vacancyFormBlock {
        padding: 40px;
    }
}

.vacancyFormBlock {
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px;
    padding: 20px;
    border-radius: 5px;
}

.vacancyFormBlock .ttl_a {
    margin-bottom: 30px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: Gilroy-Bold, system-ui;

}

.vacancyFormBlock .ttl_a strong {
    color: var(--color-red);
}

#vacancyReq > div:nth-child(3) {
    flex: 0 0 100%;
    max-width: 100%;
}

#vacancyReq .btm {
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    #vacancyReq {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.vacancyFormBlock {
    padding: 20px;
}

.vacancyFormBlock button {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    text-align: center;
    border-radius: 5px;
    background: var(--color-red);
    padding: 15px 40px;
    border-width: initial;
    border-style: none;
    outline: none;
    margin: 0 0 20px;
}

.vacancyFormBlock input, .vacancyFormBlock textarea, .vacancyFormBlock .fileInpt {
    font-size: 0.9em;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    resize: none;
    background: #F2F2F7FF;
    border-width: 1px;
    border-style: solid;
    border-color: #F2F2F7FF;
    border-image: initial;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    min-width: 200px;
}

@media (min-width: 576px) {
    #vacancyReq > div:nth-child(1), #vacancyReq > div:nth-child(2), #vacancyReq > div:nth-child(3) {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

@media (min-width: 860px) {
    .vacancyFormBlock input, .vacancyFormBlock .fileInpt {
        margin-bottom: 15px;
        padding: 18px;
    }

    #vacancyReq > div:nth-child(1), #vacancyReq > div:nth-child(2), #vacancyReq > div:nth-child(3) {
        flex: 0 0 31%;
        max-width: 31%;
    }
}


.vacancyFormBlock .fileInpt a {
    float: right;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    background: rgb(226, 36, 39);
    border-radius: 5px;
    padding: 4px 10px;
    margin: -4px 0px;
}

@media (min-width: 860px) {
    .vacancyFormBlock button {
        padding: 15px 18px;
        min-width: 33%;
    }
}

@media (min-width: 576px) {
    .vacancyFormBlock button {
        width: auto;
        white-space: nowrap;
        margin: 0;
        min-width: 33%;
    }
}

form .modal__personal {
    padding: 20px 0 0 0;
    display: flex;
    width: inherit;
}

.modal__personal {
    font-weight: 500;
    color: #545454;
    font-size: 0.75em;
    display: inline-block;
}

@media (min-width: 600px) {
    .modal__personal {
        font-size: 1em;
    }
}

.modal__personal input {
    width: inherit;
    min-width: inherit;
    margin-right: 14px;
}

.modal__personal a {
    outline: none;
    border: none;
    text-decoration: none;
    white-space: nowrap;
    color: #000;
    position: relative;
}

.modal__personal a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    bottom: 0;
}

/****/

.region.active {
    display: block;
}

.region {
    display: none;
}

@media (min-width: 860px) {
    .vacancy_item {
        padding: 40px;
        margin-bottom: 30px;
    }
}

.vacancy_item {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    cursor: pointer;
}



.vacancy_item .fst_desc {
    font-weight: 600;
}



.vacancy_item .ttl {
    font-size: 1.2em;
}

@media (min-width: 768px) {
    .vacancy_item .fst_desc {
        position: relative;
    }
    .vacancy_item .ttl {
        max-width: 470px;
    }
    .vacancy_item .fst_desc .zp {
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);

    }
}

.vacancy_item.expanded .zp {
    position: relative;
    transform: inherit;
    margin-top: 20px;
    color: var(--color-red);
}

.vacancy_item.expanded .show_detail {
    display: none;
}

.vacancy_item .show_detail, .vacancy_item .show_hh {
    color: var(--color-red);
    font-size: 0.9em;
}

@media (min-width: 992px) {
    .vacancy_item .detail {
        float: left;
        width: 60%;
    }
}

.vacancy_item .detail {
    padding-top: 20px;
}

