.franshizaLastBlock {
    display: flex;
    justify-content: space-between;
    column-gap: 42px;
    row-gap: 20px;
}

@media (max-width: 845px) {
    .franshizaLastBlock {
        flex-wrap: wrap;
    }
}



.listCheck {
    list-style-type: none;
    padding: 0;
    margin: 60px 0;
}

.listCheck li {
    position: relative;
    margin: 0;
    padding: 0 0 10px 24px;
}

.listCheck li:before {
    content: '';
    position: absolute;
    top: 0.3em;
    left: 0;
    width: 14px;
    height: 10px;
    background: url(/src/svg/galka.svg) left top no-repeat;
}

.imgNumsBlock {
    height: 100%;
    position: relative;
    overflow: auto;
}

@media (min-width: 768px) {
    .franshizaLastBlock .imgNumsBlock {
        order: 1;
        flex: 0 0 40%;
        max-width: 360px;
        margin: 0;
        max-height: 460px;
        top: 3em;
    }
}



.imgNumsBlock:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(to bottom, #00000000 0%, #00000062 53%, #000000ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 );
}

.franshizaLastBlock .imgNumsBlock:after {
    content: ' ';
    display: block;
    position: absolute;
    z-index: 1;
    background: var(--color-red);
    width: 80%;
    height: 100%;
    top: 22px;
    left: -22px;
}

@media (min-width: 768px) {
    .franshizaLastBlock .imgNumsBlock .img {
        overflow: hidden;
        max-height: 460px;
    }
}

.imgNumsBlock .img {
    position: relative;
    z-index: 9;
}

.imgNumsBlock .nums {
    position: absolute;
    z-index: 11;
    color: #fff;
    left: 30px;
    bottom: 30px;
    padding-right: 30px;
}

.imgNumsBlock .nums div {
    margin-bottom: 15px;
}

.nums strong {
    font-size: 1.5em;
    color: #FD2528;
    display: block;
    font-family: Gilroy-Bold, system-ui;
}

.logoBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logoBlock > div {
    flex: 0 0 30%;
    /*max-width: 30%;*/
    font-size: 0.9em;
}

.logoBlock > div {
    padding-bottom: 30px;
}

.logoBlock > div .img {
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    align-items: flex-start;
}



