<!--/* ранбше это было в rightPanel */-->

<div class="promo-detail-call__wrap">
    <div class="div">
        <h3>Закажите обратный звонок</h3>

        <p class="pp">Просто оставьте свои контактные данные и мы сами вам перезвоним!</p>
    </div>


    <div class="div promo-form">
        <div class="formBlock">
            <div class="form__modal--group">
                <div class="form__group">
                    <input name="name"  required  placeholder="Ваше имя *">
                </div>
            </div>
            <div class="form__modal--group">
                <div class="form__group">
                  <input name="year" placeholder="Год выпуска">
                </div>
            </div>

            <div class="form__modal--group">
              <div class="capctha-div"></div>
            </div>

            <button class="page__btn page__btn--current" onclick="sendBidPromo()">
                <span> Отправить заявку </span>
            </button>

            <div class="modal__personal">
                <input type="checkbox" id="dd1d">
                <label for="dd1d"> Нажав кнопку «Отправить заявку» я даю согласие на обработку
                    персональных <a href="/privacy-policy/" target="_blank">данных</a>
                </label>
            </div>
        </div>
    </div>

</div>