<div class="promo-detail-call__wrap">
    <div class="div">
        <h3>Закажите обратный звонок</h3>

        <p>Просто оставьте свои контактные данные и мы сами вам перезвоним!</p>
    </div>


    <div class="div promo-form">
        <form action="/" name="popup_form" enctype="multipart/form-data" method="POST" class="formBlock">
            <div class="form__modal--group">
                <div class="form__group">
                    <input size="25">
                    <label>Ваше имя <sup class="starrequired">*</sup></label>
                </div>
            </div>
            <div class="form__modal--group">
                <div class="form__group">
                    <input size="25"> <label>Год выпуска</label>
                </div>
            </div>

            <div class="form__modal--group">
                <div>
                    <div>
                        <iframe title="reCAPTCHA" width="304" height="78" role="presentation"
                                name="a-yx1p19v4v6" frameborder="0" scrolling="no"
                                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
                                src="https://www.google.com/recaptcha/api2/anchor?ar=2&amp;k=6LfVEHsoAAAAAMPu1zqgnZkNQoSGMtYffz36y7xc&amp;co=aHR0cHM6Ly94bi0tODBhZWo5YXBlZDRmLnhuLS1wMWFpOjQ0Mw..&amp;hl=ru&amp;v=naPR4A6FAh-yZLuCX253WaZq&amp;size=normal&amp;anchor-ms=20000&amp;execute-ms=15000&amp;cb=e2hdlp5mo8dj"></iframe>
                    </div>
                </div>
            </div>

            <button class="page__btn page__btn--current" type="submit">
                <span> Отправить заявку </span>
            </button>

            <div class="modal__personal">
                <input type="checkbox">
                <label> Нажав кнопку «Отправить заявку» я даю согласие на обработку
                    <a href="%VITE_PROD_URL%/privacy-policy/" target="_blank">персональных данных</a>
                </label>
            </div>
        </form>
    </div>

</div>