<!--/* ранбше это было в rightPanel */-->

<div class="promo-detail-call__wrap">
    <div class="div">
        <h3>Закажите обратный звонок</h3>

        <p>Просто оставьте свои контактные данные и мы сами вам перезвоним!</p>
    </div>


    <div class="div promo-form">
        <form action="/" name="popup_form" enctype="multipart/form-data" method="POST" class="formBlock">
            <div class="form__modal--group">
                <div class="form__group">
                    <input size="25">
                    <label>Ваше имя <sup class="starrequired">*</sup></label>
                </div>
            </div>
            <div class="form__modal--group">
                <div class="form__group">
                    <input size="25"> <label>Год выпуска</label>
                </div>
            </div>

            <div class="form__modal--group">
              <div class="capctha-div"></div>
            </div>

            <button class="page__btn page__btn--current">
                <span> Отправить заявку </span>
            </button>

            <div class="modal__personal">
                <input type="checkbox">
                <label> Нажав кнопку «Отправить заявку» я даю согласие на обработку
                    <a href="/privacy-policy/" target="_blank">персональных данных</a>
                </label>
            </div>
        </form>
    </div>

</div>