<div class="fourBlocks">
    <div style="background-image: url(/photo/vykup_01.webp)">
        <div class="num">
            <div>
                <span><strong>до</strong> 10%</span>
                <div>
                    Выгода при обмене
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="num">
            <div>
                <span><strong>Бесплатный осмотр и&nbsp;диагностика</strong> </span>
            </div>
        </div>
    </div>
    <div style="background-image: url(/photo/vykup_02.webp)">
        <div class="num">
            <div>
                <span>30 <strong>мин</strong></span>
                <div>
                    Осмотр и&nbsp;оценка стоимости
                </div>
            </div>
        </div>
    </div>
    <div style="background-image: url(/photo/vykup_03.webp)">
        <div class="num">
            <strong>Деньги сразу <b>в день обращения</b></strong>
        </div>
    </div>
</div>