<div class="main__card-product--top">

  <div class="address">
    Альметьевск , Герцена 1Б
  </div>

  <div class="link">
    <div id="share_text">Ссылка скопирована</div>
    <a id="share" href="javascript:void(0)" title="Делиться ссылкой на автомобиль">
      <img src="/svg/share.svg" alt="Д">
    </a>

    <div class='cart__box--bottom' id="favorite_chosen"></div>
  </div>

</div>