<div class="big">
  <div class="x" onclick="toBig()"><img src="/close.webp" loading="lazy" alt=""></div>
  <section class="swiper mySwiper">
    <div class="open_all" onclick="toBig('big')">На весь экран</div>

    <div class="swiper-wrapper" id="auto-swip">


    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </section>

  {{> "alone/photos"}}

  <span class='dark-fon' onclick="closeChat()"/>
</div>