<h1 class='right__title auto-name'>
  <!--ВАЗ (LADA) 2106, 2002-->
</h1>
<div class='right__price'>
  <div class='total auto-price'>
    <!--123&nbsp;091 ₽-->
  </div>
  <div class='price__of auto-price-month'>
    <!-- от 1&nbsp;370&nbsp;₽/мес-->
  </div>
</div>
<div class='right__tech'>
  <div class='title'>
    Характеристики
  </div>

  <div class='right__tech--block'>
    <div class='right__flex'>
      <div class='right__tech--box'>
        <div class='icon'>
          <img src='/src/svg/calendar-icon.svg' alt='' class='mw-100 d-block'>
        </div>

        <div class='text auto-year'>
          <!-- 2002 год-->
        </div>
      </div>
      <div class='right__tech--box'>
        <div class='icon'>
          <img src='/src/svg/engine-icon.svg' alt='' class='mw-100 d-block'>
        </div>

        <div class='text auto-engine'>
          <!--1.6 л / 74 л.с / бензин-->
        </div>
      </div>
      <div class='right__tech--box'>
        <div class='icon'>
          <img src='/src/svg/speed-icon.svg' alt='' class='mw-100 d-block'>
        </div>

        <div class='text auto-mill'>
          <!--78 957 км-->
        </div>
      </div>
      <div class='right__tech--box'>
        <div class='icon'>
          <img src='/src/svg/transmission-icon.svg' alt='' class='mw-100 d-block'>
        </div>

        <div class='text auto-gear'>
          <!--Механическая-->
        </div>
      </div>
      <div class='right__tech--box'>
        <div class='icon'>
          <img src='/src/svg/4wd.svg' alt='' class='mw-100 d-block'>
        </div>

        <div class='text auto-drive'>
          <!--Задний-->
        </div>
      </div>
      <div class='right__tech--box'>
        <div class='icon'>
          <img src='/src/svg/steering-wheel.svg' alt='' class='mw-100 d-block'>
        </div>

        <div class='text auto-rule'>
          <!--Левый-->
        </div>
      </div>
      <div class='right__tech--box'>
        <div class='icon'>
          <img src='/src/svg/body.svg' alt='' class='mw-100 d-block'>
        </div>

        <div class='text auto-body'>
          <!--Седан-->
        </div>
      </div>
      <div class='right__tech--box'>
        <div class='icon'>
          <img src='/src/svg/color-palette.svg' alt='' class='mw-100 d-block'>
        </div>

        <div class='text auto-color'>
          <!--Коричневый-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class='right__bottom'>
  <div class='right__flex'>
    <div class='box'>
      <span  class='page__btn page__btn--current select_show_date'
             style='padding: 15px'>
          Выбрать дату осмотра
      </span>
    </div>

    <div class='box'>
      <a href='https://telegram.me/Autoset_RF_bot?start=ВАЗ (LADA) 2106' target='_blank'
         class='page__btn page__btn--main'>
        <img src='/src/svg/telegram-icon-white.svg'>
        Написать
      </a>
    </div>
  </div>
  <div class='right__bottom--button'>
    <span class='page__btn page__btn--current reserving'>
        Забронировать
    </span>
  </div>
  <div class='right__bottom--button'>
    <span class='page__btn page__btn--tr profitable'>
        Выгоднее обменять свой автомобиль
    </span>
  </div>
</div>
