<div class="main_cred">
  <div class="main_cred_row">
    <h2> Кредит на специальный условиях</h2>
  </div>

  <div class="main_cred_row ">
    <div class="main_cred-col first">
      <div class="cred-small">Первый взнос</div>
      <div class="cred-big" id="field1">2 787 500 ₽</div>
    </div>
    <div class="main_cred-col first">
      <div class="cred-small">Ежемесячный платеж</div>
      <div class="cred-big" style="color:var(--color-red)" id="field3">от 1 180 ₽/мес</div>
    </div>
  </div>
  <div style="clear: both"></div>


  <div class="main_cred_row">
    <div class="main_cred-col">
      <div class="cred-small">Cумма кредита</div>
      <div class="cred-big" id="field2">2 787 500 ₽</div>

      <div class="slider__ui slider1">
        <div class="slider__ui-range" style="width: 50%"></div>
        <span tabindex="0" class="slider__ui-handle" style="left: calc(50% - 10px)"></span>
      </div>
    </div>

    <div class="main_cred-col">
      <div class="cred-small">Cумма кредита</div>
      <div class="cred-big" id="field4">5 лет</div>

      <div class="slider__ui slider2">
        <div class="slider__ui-range" style="width: 100%"></div>
        <span tabindex="0" class="slider__ui-handle" style="left: calc(100% - 10px)"></span>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>


  <div class="main_cred_row">
    <div class="main_cred-col field name">
      <label class="placehold" for="you_name"> Ваше имя *</label>
      <input placeholder=" " name="name" required onmouseenter="this.focus()">
    </div>
    <div class="main_cred-col field tel">
      <label class="placehold"> Ваш телефон *</label>
      <input placeholder=" "  name="phone" required onmouseenter="this.focus()" oninput="formattingPhone(this)">
    </div>
  </div>
  <div style="clear: both"></div>


  <div class="main_cred_row">
    <div class="main_cred-col">
      <button class="page__btn page__btn--main bid" style="width: 100%"> Оставить заявку</button>
    </div>
    <div class="main_cred-col" style="text-align: right">
      <div class="capctha-div n3"></div>
    </div>
  </div>
  <div style="clear: both"></div>


  <div class="main_cred_row">
    <div class="main_cred-col sender">
      <input type="checkbox" id="n3">
      <label for="n3">
        Нажав кнопку «Отправить» я даю согласие
        на обработку персональных <a href="/privacy-policy/" target="_blank">данных</a>
      </label>

    </div>
    <div class="main_cred-col">
      <div class="attent n3">
        Вы должны дать согласие на обработку персональных данных
      </div>
    </div>
  </div>
  <div style="clear: both"></div>


  <div class="main_cred_row">
    <div class="main_cred-col desk">
      Заполните форму и мы свяжемся с вами в течение 30 мин. для уточнения деталей.
      Или позвоните прямо сейчас по
      номеру <a href="tel:88005001156">8-800-500-11-56</a>
    </div>
    <div class="main_cred-col">

    </div>
  </div>


</div>