<div class="main__card-product--accordion" style="margin-bottom: 100px">
  <h2>Комплектация</h2>

  <div style="padding: 20px 0 0 0" class="complect">
    <ul>
      <li>Подогрев стекол заднее</li>
      <li>Тонированные стекла</li>
      <li>Фары галогеновые</li>
    </ul>
  </div>
</div>