<div class='fotos' id='auto-more'>
<!--  <div class='fotos_black'> Еще 14 фото</div>-->
<!--  <div onclick='showSlide(0)'><img src='../../../photo-offers/1/p1.jpg' alt=''></div>-->
<!--  <div onclick='showSlide(1)'><img src='../../../photo-offers/2/p2.jpg' alt=''></div> -->
</div>