
@media (min-width: 680px) {
    .fourBlocks {
        display: flex;
        flex-wrap: wrap;
    }
}

.fourBlocks {
    position: relative;
    margin: 10px 0 60px;

}

@media (min-width: 992px) {
    .fourBlocks > div:nth-child(1), .fourBlocks > div:nth-child(3) {
        height: 464px;
    }
}

@media (min-width: 992px) {
    .fourBlocks > div:nth-child(1), .fourBlocks > div:nth-child(2) {
        flex: 0 0 26.5%;
        max-width: 26.5%;

    }
}

.fourBlocks > div:nth-child(1) {
    background-position: right top;
}

@media (min-width: 992px) {
    .fourBlocks > div {
        position: relative;
        z-index: 10;
    }
}

@media (min-width: 680px) {
    .fourBlocks > div {
        flex: 0 0 45%;
        max-width: 45%;
    }
}

.fourBlocks > div {
    position: relative;
    min-height: 40vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center center;
}


.fourBlocks > div:nth-child(1):before, .fourBlocks > div:nth-child(3):before {
    content: ' ';
    background: linear-gradient(to bottom, #00000000 0%, #000000a6 53%, #000000f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#f2000000', GradientType=0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fourBlocks > div:nth-child(1) > div, .fourBlocks > div:nth-child(3) > div {
    color: #fff;
}

.fourBlocks > div > div {
    position: relative;
    z-index: 10;
}

@media (min-width: 992px) {
    .fourBlocks > div:nth-child(2) {
        margin: -20px 0 0 -5.35%;
        z-index: 9;
        height: 450px;
    }
}

.fourBlocks > div:nth-child(2) {
    background: var(--color-red);
    font-weight: 500;
}

.fourBlocks b{
    color: var(--color-red);
    font-family: Gilroy-Bold, sans-serif;
}

@media (min-width: 992px) {
    .fourBlocks > div:nth-child(2) > div {
        transform: rotate(-90deg) translate(45%, -30%);
    }

    .fourBlocks.podbor > div:nth-child(2) > div {
        width: 330px;
        transform: rotate(-90deg) translate(45%, -20%);
    }
}

.fourBlocks > div .num span strong {
    font-size: 0.8em;
    font-weight: 500;
}

.fourBlocks > div .num{
    padding: 20px;
}

@media (min-width: 992px) {
    .fourBlocks > div:nth-child(3) {
        flex: 0 0 30%;
        max-width: 30%;
        margin: 0 -4%;
    }
}

.fourBlocks > div:nth-child(1) .num span, .fourBlocks > div:nth-child(3) .num span, .fourBlocks > div:nth-child(4) .num span {
    color: #FD2528;
}

.fourBlocks > div .num span {
    display: block;
    font-size: 2.5em;
    color: #fff;
    font-weight: 600;
    line-height: 0.7em;
    padding-bottom: 18px;
}


@media (min-width: 992px) {
    .fourBlocks > div:nth-child(4) {
        flex: 0 0 19.75%;
        max-width: 19.75%;
        height: 430px;
        align-self: end;
    }
}

.fourBlocks > div:nth-child(4):before {
    content: ' ';
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 53%, rgba(255, 255, 255, 0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#f2ffffff', GradientType=0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}