.fullBanner {
    position: relative;
    min-height: 40vh;
    background-position: center center;
    background-size: cover;
    /*background-image: url(/photo/banner_vykup.webp);*/
}

.fullBanner:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #00000000 0%, #000000A5 53%, #000000F2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#f2000000', GradientType=0);
}

.fullBanner.podbor:before{
    width: 0;
}

.fullBanner .bread_cranbs {
    color: white;
}

.fullBanner .bread_cranbs a {
    color: #fff9;
}

@media (max-width: 1240px) {
    .fullBanner .page__flex, .formBlock .page__flex {
        width: calc(100% - 40px);
    }
}

.fullBanner .page__flex {
    padding-left: 30px;
    align-items: end;
}

.fullBanner .textBlock {
    font-family: Gilroy-Bold, sans-serif;
    color: white;
    margin-bottom: 60px;
}


@media (max-width: 1200px) {
    .fullBanner.podbor .textBlock {
        margin-right: 35px;
        margin-top: 120px;
        margin-bottom: 0;
    }
}

@media (max-width: 500px) {
    .fullBanner .textBlock {
        margin-bottom: 0;
        font-size: smaller;
    }
}

.fullBanner h1 strong, .fullBanner h2 strong {
    color: var(--color-red);
}

.fullBanner p.grey {
    background: url(/src/svg/icon_mouse.svg) left center no-repeat;
    font-size: 0.9em !important;
    font-family: Gilro, sans-serif;
    opacity: 0.6;
    padding-left: 30px;
    line-height: 21px;
    margin-top: 10px;
    color: white;
}

.fullBanner.persona {
    background-position: 38% center;


}

@media (min-width: 992px) {
    .fullBanner .textBlock p {
        font-size: 1.4em;
    }
}

.textBlock .person {
    font-size: 1.3em;
    font-weight: 600;

    margin-top: 200px;

}

.textBlock .person .post {
    display: block;
    color: var(--color-red);
    font-size: 0.7em;
    font-weight: normal;
}


/***/