.juicy h2 {
    font-family: Gilroy-Bold, sans-serif;
    margin: 80px 0 60px;
}

@media (max-width: 1200px) {
    .juicy h2 {
        margin: 30px 20px;
    }
}


@media (min-width: 768px) {
    .numList {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.numList > div {
    padding: 0 0 30px 30px;
}

@media (max-width: 1200px) {
    .numList {
        padding: 20px;

    }
}

@media (min-width: 768px) {
    .numList > div {
        padding: 0;
        min-width: 21%;

    }
}

.numList .ttl {
    font-size: 1.1em;
    font-weight: 600;
}

@media (min-width: 992px) {
    .numList > div > * {
        padding-right: 40px;

    }
}


@media (min-width: 768px) {
    .numList p {
        font-size: 0.9em;

    }
}

/*.numList p {*/
/*    margin-bottom: 20px;*/
/*}*/


.numList .page__btn {
    text-align: center;
    margin: 10px 0;
    font-size: 0.8em;
    padding: 10px 20px;
    min-width: auto;

}


.numList .ttl strong {
    color: var(--color-red);
}

.numList a {
    text-decoration: none;
}

/***/


.shadTbl {
    position: relative;
}

@media (min-width: 768px) {
    .shadTbl:before {
        content: '';
        display: block;
        position: absolute;
        width: 30%;
        height: 100%;
        box-shadow: 0 0 40px rgba(0, 0, 0, .2);
        z-index: 9;
        top: 0;
        right: 30%;
    }
}

@media (min-width: 768px) {
    .shadTbl > div:first-child {
        box-shadow: none;
        z-index: 5;
    }
}
@media (min-width: 768px) {
    .shadTbl > div:nth-child(odd), .shadTbl > div:last-child {
        background: #F4F2F7;
    }
}
.shadTbl > div:first-child {
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
    position: relative;
    z-index: 10;
}
.shadTbl > div:nth-child(odd), .shadTbl > div:last-child {
    background: #fff;
}
@media (min-width: 768px) {
    .shadTbl > div {
        padding: 0;
        overflow: hidden;
        border-bottom: solid 1px #CFCCDE;
    }
}
.shadTbl > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
}

/*******************************************************/

.shadowTable{
    background: #F4F2F7;
    font-weight: 600;
    position: relative;
    z-index: 0;

    margin-bottom: 40px;
}

.shadowTable .row{
    display:flex;
    flex-wrap: wrap;
}
.shadowTable .row div{
    flex: 1;
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-bottom: solid 1px #CFCCDE;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.shadowTable .row  div:first-child{
    justify-content: start;
    padding-left: 30px;
}


.shadowTable:after{
    content: '';
    display: block;
    position: absolute;
    width: 33%;
    height: 100%;
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
    z-index: 1;
    top: 0;
    right: 33%;
    background: white;
}

.shadowTable.podbor:after{
    width: 49%;
    right: 0;
    z-index: -1
}

.shadowTable .row span{
    display: flex;
    align-items: center;
    gap: 30px;
}

.shadowTable img{
    height: 36px;
    /*height: 28px;*/
}
.shadowTable strong{
    color: var(--color-red);
}

.shadowTable__head{
    font-size: 1.2em;
    line-height: 1.1em;
    text-align: center;
}

@media (max-width: 765px) {
    .shadowTable:after{
        display: none;
    }

    .shadowTable .row:nth-child(2n+1){
        background: white;
    }

    .shadowTable .row  div:first-child{
        min-width: 100%;
        justify-content: center;
        padding: 0;
        border: 0;
    }

    .shadowTable .row  div:first-child img{
        display: none;
    }

    .shadowTable .row:first-child{
        box-shadow: 0 0 40px rgba(0, 0, 0, .2);
        font-size: smaller;
    }
    .shadowTable .row:first-child img{
        height: 32px !important;
    }

    .shadowTable .row:last-child{
        background: white;
        border: 0;
    }
    .shadowTable .row:last-child div:last-child{
        display: none;
    }

    .shadowTable .row div{
        text-align: center;
    }
}

/** podbor что мы проверяем */

.checkTbl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5vh 0;
    padding: 0 20px;
}

.checkTbl .item {
    padding: 10px 0;
}

@media (min-width: 576px) {
    .checkTbl .item {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

@media (min-width: 992px) {
    .checkTbl .item {
        flex: 0 0 30%;
        max-width: 30%;
        padding: 20px 0;
    }
}

.checkTbl .item .img {
    width: 60px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.checkTbl .item img {
    max-width: 60px;
    max-height: 50px;
}

.checkTbl .item .name {
    font-weight: bold;
    margin: 10px 0;
}

/****/

.showFullPrice {
    color: #fff;
    padding: 10px 15px;
    background-color: var(--color-red);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

@media (min-width: 992px) {
    .shadowTable.podbor .ttl {
        font-size: 1.3em;
        line-height: 1.1em;
        padding-top: 20px;
    }
}

.shadowTable.podbor .ttl {
    font-size: 1rem;
    font-family: Gilroy-Bold, sans-serif;
}

.shadowTable.podbor .row.R1, .shadowTable.podbor .row.R2, .shadowTable.podbor .row.R3{
    z-index: 100;
    height: 0;
    opacity: 0;
    transition: all .5s;
}

.shadowTable.podbor .row.R1.active, .shadowTable.podbor .row.R2.active, .shadowTable.podbor .row.R3.active{
    opacity: 1;
    height: 60px;
}

@media (max-width: 600px) {
    .shadowTable.podbor .row.R, .shadowTable.podbor .row.R1.active, .shadowTable.podbor .row.R2.active, .shadowTable.podbor .row.R3.active{
        height: 100px;
        padding: 0 80px;
        padding-top: 20px;
    }

    .shadowTable.podbor .ttl {
        margin-top: 30px;
    }
    .shadowTable.podbor button{
        margin: 20px;
    }
    .shadowTable .row div{
        border-bottom: none;
    }
}
